*, *:after, *:before
	box-sizing: border-box
a 
	text-decoration: none
	color: $maincolor
img
	display: block
button
	background-color: transparent
	outline: none
svg
	width: 100%
	height: 100%
html
	overflow: hidden
	font-size: 16px
	+r(1279)
		font-size: 12px
body
	overflow: hidden
	background-color: $maincolor
	font-family: $Book
	&.navigation_show
		.overlay
			opacity: 1
			visibility: visible
		.menu
			transform: translate(-100%, 0)
	&.modals_show
		.overlay
			opacity: 1
			visibility: visible
h1, .h1
	font-family: $Bold
	+rem(font-size, 60px)
	span 
		color: $maincolor
h2, .h2 
	font-family: $Medium
	+rem(font-size, 42px)
	span 
		color: $maincolor
.scrollbar-track-x
		opacity: 0
		visibility: hidden
.root
	position: relative
	width: 100%
	height: 100%
.root__wrapper
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
.overlay
	position: absolute
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, .22)
	z-index: 15
	transition: opacity 0.3s linear, visibility  0.3s linear
	opacity: 0
	visibility: hidden
.ui-menu
	position: absolute
	z-index: 910
	right: 20px
	top: 20px
	padding: 30px
	cursor: pointer
	&:hover
		.ui-menu-line
			background-color: $darkHover
		.ui-menu-line-2
			transform: translate(-7px, 0)
		.ui-menu-line-1
			transform: translate(7px, 0)
.ui-menu__content
	width: 31px
	height: 25px
	display: block
	position: relative
	overflow: hidden
.ui-menu-line
	height: 4px
	width: 100%
	background-color: $maincolor
	position: absolute
	right: 0
	top: 0
	border-radius: 1px
	transition: transform 0.3s ease, background-color 0.3s ease
	&-2
		top: 11px
		right: -7px
	&-3
		top: 21px
		right: -7px
.root_frame
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
.root_frame-content
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
.scroll-content
	height: 100%
.variable-section
	position: relative
	top: 0
	min-height: 100%
	float: right
	background-color: $white
	right: 0
	z-index: 5
	transition: all 0.5s ease
	width: 0
	will-change: width
	&.transition
		transform: translate(10%, 0)
.constant-section
	position: absolute
	top: 0
	height: 100%
	width: 38.43%
	z-index: 3
.logo
	position: absolute
	+rem(width, 160px)
	+rem(height, 26px)
	background-image: url("../img/icons/logo.jpg")
	background-size: contain
	background-repeat: no-repeat
	+rem(top, 50px)
	+rem(left, 85px)
	z-index: 4
	transition: left 0.3s linear
.loader-container
	position: relative
	top: 0
	right: 0
	width: 100%
	height: 100%
	overflow: hidden
	transition: width 0.5s ease
	will-change: width
.load-dom
	.variable-section
		width: 61.95%
		.loader-container
			width: 61.95vw
	.inner-page
		.variable-section
			width: 80.9%
			.loader-container
				width: 80.9vw
.lang
	position: absolute
	+rem(top, 50px)
	+rem(left, 34px)
	// +rem(height, 26px)
	// +rem(width, 60px)
	height: 26px
	width: 60px
	.lang-inner
		position: relative
		width: 100%
		height: 100%
		background-color: $maindark
		padding: 2px
		// +rem(border-radius, 13px)
		border-radius: 13px
		font-size: 0
		a
			font-size: 12px
			text-transform: uppercase
			color: $white
			display: inline-block
			// +rem(padding, 4px 6px 4px)
			padding: 4px 6px 4px
			&.active
				background-color: $white
				color: $black
				border-radius: 10px
.account
	position: absolute
	+rem(top, 59px)
	left: 33.7%
	.account-enter
		span
			font-size: 12px
			text-transform: uppercase
			color: $white
			// +rem(letter-spacing, 0.6px)
			letter-spacing: 0.6px
			transition: color 0.3s ease
		&:hover
			span
				color: $hover
.navigation-site
	position: absolute
	left: 33.7%
	z-index: 2
	top: 23.6%
	transition: opacity 0.3s linear
	.navigation-list
		.navigation-item
			display: block
			a
				font-family: $Medium
				+rem(font-size, 24px)
				color: $white
				display: block
				+rem(padding, 16px 0)
				span
					position: relative
					&::after
						content: ''
						border-bottom: 2px solid $white
						position: absolute
						right: 0
						width: 100%
						+rem(bottom, -12px)
						opacity: 0
						transition: bottom 0.3s ease, opacity 0.3s ease
				&:hover
					span
						&::after
							+rem(bottom, -6px)
							opacity: 1
.company-based
	position: absolute
	+rem(bottom, 50px)
	+rem(left, 34px)
	.icon
		display: block
		+rem(width, 60px)
		+rem(height, 96px)
		&.icon-based
			background-image: url("../img/icons/icon-since.png")
			background-size: cover
			background-repeat: no-repeat

.address
	position: absolute
	+rem(bottom, 46px)
	left: 33.7%
	transition: opacity 0.3s linear
	.address-item
		&:not(:last-child)
			+rem(margin-bottom, 5px)
		p 
			color: $white
			+rem(font-size, 12px)
			text-transform: uppercase
			+rem(letter-spacing, 0.6px)
		a
			color: $white
			+rem(font-size, 12px)
			text-transform: uppercase
			+rem(letter-spacing, 0.6px)
			color: $white
			transition: color 0.3s ease
			&:hover
				color: $hover
.inactive
	.navigation-site, .address
		opacity: 0.5
.menu
	position: absolute
	top: 0
	height: 100%
	z-index: 915
	background-color: $white
	transform-style: flat
	backface-visibility: hidden
	width: 50.5%
	left: 100%
	transition: transform 0.3s linear
	overflow: auto
.menu_content
	position: relative
	+rem(padding, 76px 0px 110px 0px)	
	+vertical
	height: 100%
	text-align: left
	.lang
		+rem(top, 50px)
		+rem(left, 50px)
	.account
		+rem(top, 63px)
		left: 26.2%
		.account-enter
			span
				color: $darkHover
.container-content
	// text-align: right
	// +rem(margin-left, 82px)
	// margin-right: 10%;
	// +rem(max-width, 980px)
	// width: 100%
.breadcumbs
	position: absolute
	+rem(left, 40px)
	top: 54.1%
	height: 50px
	width: 50px
	transform: translate(-10rem, 0)
	transition: transform 0.3s linear
	&.show
		transform: none
	.breadcumbs-inner
		transform: rotate(-90deg)
		a 
			span
				font-family: $Medium
				+rem(font-size, 42px)
				color: $white
				transition: color 0.3s ease
			&:hover
				span 
					color: $hover
.l
	// +rem(max-width, 800px)
	text-align: left
	display: inline-block
	width: 100%;
.section
	text-align: left
	+rem(padding-left, 82px)
	margin-right: 10%
.section-scroll
	min-height: 100vh
	overflow: hidden
.intro-head
	position: relative
	&.index-page
		height: 100vh
		width: 100%
		max-width: 61.56vw
		+rem(padding-left, 85px)
		h1
			position: absolute
			+rem(bottom, 175px)
.mouse
	position: absolute
	bottom: 0
	+rem(left, 85px)
	height: 43px
	width: 29px
	border: 3px solid $maincolor
	border-radius: 15px
	+rem(bottom, 49px)
	.mousewheel
		width: 5px
		height: 11px
		background-color: $maincolor
		border-radius: 4px
		position: absolute
		top: 5px	
		left: 9px
		transform-origin: 50% 0
		animation: mouse-wheel 1.25s infinite linear
@keyframes mouse-wheel
	0%,to
		transform: scaleY(.4) translateY(0)
	20%
		transform: scaleY(1) translateY(0)
	60%
		transform: scaleY(.4) translateY(12px)
.contacts-header
	position: absolute
	+rem(right, 239px)
	+rem(top, 62px)
	z-index: 9
.contacts-list
	font-size: 0
	.contacts-item
		display: inline-block
		vertical-align: top
		position: relative
		&:not(:last-child)
			&::after
				content: "."
				position: absolute
				bottom: 0
				font-size: 12px
				right: 0
		a
			font-family: $Book
			font-size: 12px
			color: $dark
			text-transform: uppercase
			letter-spacing: 0.6px
			padding: 0 17px
			transition: color 0.3s linear
			span
				display: inline-block
				vertical-align: middle
			.icon
				margin-right: 8px
				svg
					fill: $dark
					transition: fill 0.3s linear
			&:hover
				color: $maincolor
				.icon
					svg
						fill: $maincolor
.cross-head
	position: absolute
	+rem(top, 50px)
	+rem(right, 67px)
	width: 25px
	height: 25px
	cursor: pointer
	z-index: 5
	&:hover
		.cross-container
			.cross
				background-color: $maincolor
.cross-container
	width: 100%
	height: 100%
	position: relative
	transition: transform 0.3s ease
.cross
	position: absolute
	height: 4px
	width: 100%
	background-color: $dark
	top: 50%
	margin-top: -2px
	transition: background-color 0.3s ease
	&.cross-1
		transform: rotate(-45deg) scale(1.25)
	&.cross-2
		transform: rotate(45deg) scale(1.25)

.icon-skype
	width: 15px
	height: 15px
	display: inline-block
	vertical-align: middle
	svg
		width: 100%
		height: 100%
.container-svg
	position: absolute
	top: 0
	left: 0
	height: 100vh
	width: 100%
	.svg-icon-number
		width: 88%
		position: absolute
		+rem(bottom, -19px)
		+rem(right, -41px)
.menu-elements
	position: relative
	display: inline-block
	vertical-align: middle
	text-align: left
	left: 26.1%
	right: 21.8%
	max-width: 100%
	+clr
	.menu-elements_container
		display: flex
		width: 100%
		margin-bottom: 11%
		+rem(margin-top, 75px)
		+clr
		ul
			// display: block
			// width: 50%
			// float: left
.menu-primary

.menu-primary_item
	display: block
	+rem(margin-bottom, 24px)
.menu-primary_item-link
	font-family: $Bold
	color: $menucolor
	+rem(font-size, 30px)
	transition: color 0.3s ease
	position: relative
	&::after
		content: ""
		+rem(width, 86px)
		height: 2px
		background-color: $maincolor
		opacity: 0
		position: absolute
		+rem(left, -117px)
		top: calc(50% + 1px)
		pointer-events: none
	&:hover
		color: $maincolor
	&.active
		color: $maincolor
		&::after
			opacity: 1
.menu-secondary
	margin-left: 18%
.menu-secondary_item
	display: block
	+rem(margin-bottom, 24px)
	span
		display: block
.menu-secondary_item-link
	font-family: $Bold
	color: $menucolor
	+rem(font-size, 30px)
	display: block
	width: 100%
	transition: color 0.3s ease
	&:hover
		color: $maincolor
	&.active
		color: $maincolor
.menu-contacts
	padding-left: 2px
	position: relative
	clear: both
	+rem(padding, 37px 0)
	.address
		position: relative
		bottom: auto
		left: auto
		+rem(margin-bottom, 35px)
		.address-item
			p, a
				color: $black
			a
				&:hover
					color: $hover
	.contacts-list
		+rem(margin-left, -19px)

.section-scroll-container
	height: 100%
.pages
	height: 100%
	&.transfer-pages
		.loader-container
			overflow: hidden
		[data-scrollbar]
			.scrollbar-track
				opacity: 0
	&.pages-out		
		.section-scroll-container
			animation: contentOut 0.6s ease forwards
	&.pages-in
		.section-scroll-container
			// opacity: 0
			// transform: translate(0, -10%)
			animation: contentIn 0.6s ease forwards
		&.animate-pages
			.section-scroll-container
				opacity: 1
				transform: translate(0, 0)
@keyframes contentOut
	0% 
		opacity: 1
		transform: translate(0, 0)
	100%
		opacity: 0
		transform: translate(0, 10%)
@keyframes contentIn
	0% 
		opacity: 0
		transform: translate(0, -10%)
	100%
		opacity: 1
		transform: translate(0, 0)


.container 
	width: 100%
	font-size: 0
	[class^=column-]
		display: inline-block
		vertical-align: top
	.column-30
		width: 33.33%
	.column-50
		width: 50%
	.column-60
		width: 66.66%
	.column-70
		width: 70%
	.column-100
		width: 100%
		display: block
.block-1
	+rem(padding-top, 77px)
	.column-60
		+rem(padding-left, 47px)
		+r(1024)
			width: 100%
			padding-left: 0
	.column-30
		+r(1024)
			width: 100%
			text-align: center
			h2
				padding-bottom: 3rem
.block-2
	margin-right: 2%
	+rem(padding-left, 21px)
	h2
		+rem(padding-bottom, 48px)
	.block-padding
		+rem(padding-bottom, 60px)

.block-3
	.column-30
		+r(1024)
			width: 100%
			text-align: center
			.btn-slider 
				.btn-wrapp
					+rem(margin-top, 40px)
					+rem(margin-bottom, 20px)
	.column-60
		padding-bottom: 0
		+rem(padding-top, 10px)
		+rem(padding-right, 85px)
		+rem(padding-left, 48px)
		+r(1024)
			width: 100%
			padding: 0


	.block-padding
		+rem(padding-bottom, 58px)
.block-4
	+rem(padding-left, 101px)
	margin-right: 0
.block-5
	padding-left: 19.7%
	padding-right: 9%
	.block-padding
		+rem(padding-top, 145px)
		+rem(padding-bottom, 203px)
.text-center 
	text-align: center
.text-left 
	text-align: left
.text-right
	text-align: right

.icon-text-wrapp
	+rem(margin-bottom, 20px)
	+rem(padding-right, 20px)
	img
		+rem(margin-bottom, 24px)
	p 
		+rem(font-size, 20px)
		line-height: 1.55
	.icon-star
		+rem(width, 60px)
	.icon-wave
		+rem(width, 65px)
		+rem(margin-bottom, 41px)
	.icon-mountain
		+rem(width, 62px)
.more
	+rem(font-size, 18px)
	vertical-align: bottom;
	span
		border-bottom: 1px solid $maincolor
		padding-bottom: 7px
		transition: all 0.3s ease-out
		color: $maincolor
	svg
		fill: $maincolor
		width: 15px
		vertical-align: text-top
		padding-top: 9px
		margin-left: 15px
		transition: transform 0.3s ease-out
	&:hover
		span
			border-bottom: transparent
			color: #000
		svg
			transform: translate(10px, 0)
			fill: #000
.clear-height 
	+rem(width, 1px)
	+rem(margin-bottom, 73px)
	display: block
	
.block-padding
	padding-left: 0
	padding-right: 0
	+rem(padding-top, 100px)
	+rem(padding-bottom, 100px)

.page-link
	display: block
	+rem(font-size, 24px)
	+rem(height, 250px)
	position: relative
	.text-link
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		font-family: $Medium
		padding-top: 11px
		color: #000
		transition: color 0.3s ease-out;
	.svg-full-wrapp
		position: absolute
		width: 50%
		height: 50%
		transform: scale(2)
		top: 0
		left: 0
		bottom: 0
		right: 0
		margin: auto
		transition: transform 0.3s ease-out;
	&:hover
		.svg-full-wrapp
			transform: scale(1);
		.text-link
			color: $maincolor

.slider-content-wrapp
	padding: 0 15px
	font-size: 2rem
	img 
		width: 100%;
		transition: opacity 0.3s ease-out
	.date
		font-family: $Book
		+rem(font-size, 12px)
		color: #000
	.desc
		font-family: $Medium
		+rem(font-size, 20px)
		color: #000
		transition: color 0.3s ease-out

	.border-top:before
		content: ' '
		+rem(width, 140px)
		height: 2px 
		background-color: $maincolor
		position: absolute;
		transition: transform 0.3s ease-out

	&:hover
		img
			opacity: 0.5
		.desc
			color: $maincolor
		.border-top:before
			transform: translateX(50px)



.slider-img
	+rem(padding-bottom, 40px)
	margin: 0 -15px
	.slick-arrow 
		display: none !important
	.border-top
		+rem(padding-top, 43px)
	.date
		+rem(padding-top, 30px)
	.desc
		+rem(padding-top, 14px)


.btn-slider
	.btn-wrapp
		width: 45px
		display: inline-block
		margin-top: 59px
		&:first-child
			margin-right: 15px
		&:last-child
			margin-left: 19px 
		svg 
			cursor: pointer
			path
				transition: stroke 0.3s ease-out;
				stroke: $maincolor
		.disable
			path
				stroke: #e7c0c1 !important
		&:hover
			svg 
				path
					stroke: #000


.next-page
	+rem(padding-top, 50px)
	+rem(padding-right, 0)
	+rem(padding-bottom, 83px)
	+rem(padding-left, 0)
	span
		+rem(font-size, 12px)
		font-family: $Book
		text-transform: uppercase
		position: relative
		z-index: 5
		color: #000
		display: inline-block
		+rem(margin-bottom, 3px)
	h2
		position: relative
		+rem(font-size, 60px)
		z-index: 5
		color: #000
		transition: color 0.3s ease-out;
	h2:before 
		content: ''
		+rem(width, 140px)
		height: 2px
		background-color: $maincolor
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		left: -34.5%
		z-index: 5
.next-page-hover
	display: block
.next-page-hover:hover
	display: block
	h2
		color: $maincolor

.bg-gray
	height: 100%
	position: absolute
	width: 100%
	background-color: #f8f8f8
	left: 0
	z-index: 1;
	+rem(max-height, 220px)
	a 
		width: 100%
		height: 100%
		display: block
.bg-gray + .l
	position: relative
	z-index: 2

.bg-gray:hover + .next-page-hover h2
	color: $maincolor

.list-link 
	+rem(font-size, 20px)
	li
		margin: 10px 0 21px;
		a
			color: #000
			padding: 5px 0
			font-family: $Medium
			transition: color 0.3s ease-out;
			&:hover
				color: $maincolor

.list-link_no-bold
	li
		margin: 11px 0;
		a
			font-family: $Book
			+rem(font-size, 16px)
	li:first-child
		a
			font-family: $Medium
			+rem(font-size, 20px)

.contacts
	+rem(font-size, 20px)
	+rem(padding-top, 93px)
	max-width: 250px
	.adress
		+rem(font-size, 20px)
		font-family: $Medium
		position: relative
		+rem(margin-bottom, 20px)
		line-height: 1.7
		svg
			+rem(width, 24px)
			+rem(height, 30px)
			+rem(left, -47px)
			position: absolute
			top: 0
			fill: $maincolor
	.tel
		+rem(font-size, 20px)
		font-family: $Medium
		position: relative
		margin-bottom: 26px
		svg
			+rem(width, 22px)
			+rem(height, 25px)
			+rem(left, -47px)
			position: absolute
			top: 0
			fill: $maincolor
	.dop_info
		text-transform: uppercase
		font-size: 12px
		span
			padding-left: 10px
			margin-left: 10px
			border-left: 1px solid #000
			svg
				+rem(width, 14px)
				+rem(height, 15px)
				position: relative
				top: 3px
	a
		color: #000
		transition: all 0.3s ease-out;
		// &:hover 
		// 	color: $maincolor
		// 	svg 
		// 		fill: #000

.footer
	.block-padding
		padding-left: 0
		padding-right: 0
		+rem(padding-top, 100px)
		+rem(padding-bottom, 80px)
	.column-100
		position: relative
	p 
		text-transform: uppercase
		font-size: 12px
		a
			color: #000
			transition: color 0.3s ease-out;
			&:hover
				color: $maincolor
		span
			padding: 0 17px
	.left
		position: absolute
		left: 0
		    
.groups-modals
	position: absolute
	z-index: 999
	width: 100%
	left: 100%
	height: 100%
	top: 0
	&.show-modal
		left: 0
	.groups-modal-scroll
		height: 100%
	.groups-modal-content
		width: 50%
		min-height: 100%
		background-color: $white
		left: 100%
		position: absolute
		transition: transform 0.3s linear
		transform-style: flat
		backface-visibility: hidden
	.row-request
		position: absolute
		bottom: 0
		left: 100%
		width: 50%
		+rem(height, 105px)
		border-top: 1px solid #bcbcbc
		transition: transform 0.3s linear
	.content-container
		min-height: 100vh
		+rem(padding-bottom, 105px)
		+rem(padding-top, 75px)
		+rem(padding-left, 80px)
		padding-right: 13%
		.content-scrolls
			height: 200vh
	&.open
		.row-request,
		.groups-modal-content
			transform: translate(-100%, 0)
	&.show-modal
		.groups-modals
			left: 0
	.request-container
		+clr
		+rem(padding, 19px 35px)
		.btn
			float: right
.btn
	background-color: $maincolor
	+rem(padding, 21px 10px)
	+rem(min-width, 201px)
	text-align: center
	border-radius: 3px
	transition: background-color 0.3s ease
	&:hover
		background-color: $darkmain
	span 
		font-family: $Book
		color: $white
		text-transform: uppercase
		+rem(font-size, 12px)
		display: inline-block
		vertical-align: middle
		+rem(margin-right, 10px)
		+rem(letter-spacing, 1.2px)
	.icon
		display: inline-block
		vertical-align: middle
		&.icon-arrow
			+rem(width, 16px)
			+rem(height, 12px)
			position: relative
			svg
				width: 100%
				height: 100%
				position: absolute
				top: 0
				left: 0
.request-access
	display: inline-block
	+rem(padding, 21px 14px)
	.icon
		display: inline-block
		vertical-align: middle
		+rem(width, 22px)
		+rem(height, 19px)
		+rem(margin-right, 9px)
		svg
			fill: $maincolor
			transition: fill 0.3s ease
	span
		font-family: $Regular
		display: inline-block
		vertical-align: middle
		+rem(letter-spacing, 0.8px)
		border-bottom: 1px solid
		padding-top: 2px
		padding-bottom: 5px
		transition: color 0.3s ease, border-color 0.3s ease
	&:hover
		.icon
			svg
				fill: $black
		span
			color: $black
			border-color: transparent
.inner-page
	.logo
		+rem(left, 56px)
	.intro-head
		+rem(padding-top, 192px)
		padding-left: 15.3%
		margin-right: 13%
		+rem(margin-left, 108px)
		+rem(margin-bottom, 37px)
		h1, .h1
			display: inline-block
			width: 100%
	.container-content
		margin-left: 0
		text-align: left
		max-width: 100%
	.section
		position: relative
		+rem(padding-left, 108px)
		margin-right: 16%
		+rem(margin-bottom, 70px)
		&.footer, &.full-link
			margin-bottom: 0
			p
				+rem(font-size, 12px)
		&.bottom-nav
			margin-bottom: 0
			.l
				margin-left: 6.4%
			.block-padding
				+rem(padding, 151px 0)
			.container 
				+clr
				.column-60
					float: left
					width: 36.6%
					+rem(padding-right, 15px)
				.column-30
					width: 22%
					&:nth-of-type(3)
						width: 18%
		.contacts
			+rem(padding-top, 6px)
			.adress
				+rem(margin-bottom, 15px)
		&.full-link
			margin-right: 0
			padding-right: 16%
			.l
				margin-left: 11%
		&.footer
			+rem(padding-left, 52px)
			.l
				margin-left: 0
			.block-padding
				+rem(padding, 127px 0 81px)
			p
				letter-spacing: 0.5px
				&:not(.left)
					margin-left: 9.3%
				span
					+rem(padding, 0 16px)
	.l
		margin-left: 20.5%
		max-width: 100%
		width: auto
		display: inherit
	p
		+rem(font-size, 20px)
		line-height: 1.6
		&.lead
			font-family: $Medium
	.bg-gray
		max-height: none
	.next-page
		+rem(padding, 50px 0 78px)

.section-anchors
	+rem(padding-left, 108px)
	+rem(margin-bottom, 41px)
	margin-right: 16%
.anchor-container
	margin-left: 20.5%
	ul
		+rem(margin, 0 -13px)
	.achors-item
		display: inline-block
		.anchor-trigger
			font-family: $Medium
			+rem(font-size, 20px)
			padding: 13px
			display: inline-block
			transition: color 0.3s ease
			&:hover
				color: $black
.container-image
	.image-element
		+rem(max-width, 338px)
		float: left
		margin-right: 6.4%
		+r(1150)
			// +rem(max-width, 280px)
		img
			max-width: 100%
	.text-elements
		overflow: hidden
		+rem(padding-top, 33px)
		h2, .h2
			max-width: 83%
			+r(1400)
				max-width: 90%
			+rem(margin-bottom, 38px)
			font-family: $Regular
			line-height: 1
.groups-container-elements
	+rem(padding-top, 15px)
	width: 100%
	.groups-container_item
		&:not(:last-child)
			+rem(margin-bottom, 100px)
	.groups-head
		+rem(margin-bottom, 35px)
	.groups-body
		font-size: 0
		.elemets-container
			width: 48%
			display: inline-block
			vertical-align: top
			+rem(padding-right, 70px)	
.elemets-container
	width: 100%
	.elements-field
		display: inline-block
		vertical-align: top
		width: 100%
		.element-trigger
			border-bottom: 1px solid #d0d0d0
			+rem(padding-left, 15px)
			+rem(padding-right, 25px)
			+rem(padding-top, 18px)
			+rem(padding-bottom, 20px)
			cursor: pointer
			position: relative
			&::after
				content: ""
				+rem(width, 15px)
				+rem(height, 15px)
				position: absolute
				border-right: 2px solid $black
				border-bottom: 2px solid $black
				transform: rotate(-45deg) translate(0, -50%)
				right: 8px
				top: 50%
				transition: border-color 0.3s ease
			.element-name
				font-family: $Regular
				+rem(font-size, 20px)
				color: $dark
				transition: color 0.3s ease
			&:hover
				&::after
					border-color: $maincolor
				.element-name
					color: $maincolor