*, *:after, *:before
	box-sizing: border-box
a 
	text-decoration: none
	color: $maincolor
img
	display: block
button
	background-color: transparent
	outline: none
svg
	width: 100%
	height: 100%
html
	overflow: hidden
	font-size: 16px
body
	overflow: hidden
	background-color: $maincolor
	font-family: $Book
	&.navigation_show
		.overlay
			opacity: 1
			visibility: visible
		.menu
			transform: translate(-100%, 0)
h1, .h1
	font-family: $Bold
	+rem(font-size, 60px)
	span 
		color: $maincolor
h2, .h2 
	font-family: $Medium
	+rem(font-size, 42px)
	span 
		color: $maincolor

.root
	position: relative
	width: 100%
	height: 100%
.root__wrapper
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
.overlay
	position: absolute
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, .22)
	z-index: 15
	transition: opacity 0.3s linear, visibility  0.3s linear
	opacity: 0
	visibility: hidden
.ui-menu
	position: absolute
	z-index: 910
	right: 20px
	top: 20px
	padding: 30px
	cursor: pointer
	&:hover
		.ui-menu-line
			background-color: $darkHover
		.ui-menu-line-2
			transform: translate(-7px, 0)
		.ui-menu-line-1
			transform: translate(7px, 0)
.ui-menu__content
	width: 31px
	height: 25px
	display: block
	position: relative
	overflow: hidden
.ui-menu-line
	height: 4px
	width: 100%
	background-color: $maincolor
	position: absolute
	right: 0
	top: 0
	border-radius: 1px
	transition: transform 0.3s ease, background-color 0.3s ease
	&-2
		top: 11px
		right: -7px
	&-3
		top: 21px
		right: -7px
.root_frame
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
.root_frame-content
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
.scroll-content
	height: 100%
.variable-section
	position: relative
	top: 0
	min-height: 100%
	float: right
	background-color: $white
	right: 0
	z-index: 5
	transition: all 0.5s ease
	width: 0
	&.transition
		transform: translate(10%, 0)
.constant-section
	position: absolute
	top: 0
	height: 100%
	width: 38.43%
	z-index: 3
.logo
	position: absolute
	+rem(width, 160px)
	+rem(height, 26px)
	background-image: url("../img/icons/logo.jpg")
	background-size: contain
	background-repeat: no-repeat
	+rem(top, 50px)
	+rem(left, 85px)
	z-index: 4
	transition: left 0.3s linear
.loader-container
	position: relative
	top: 0
	right: 0
	width: 100%
	height: 100%
	overflow: hidden
	transition: width 0.5s ease
.load-dom
	.variable-section
		width: 61.56%
		.loader-container
			width: 61.56vw
	.inner-page
		.variable-section
			width: 80.9%
			.loader-container
				width: 80.9vw
.lang
	position: absolute
	+rem(top, 50px)
	+rem(left, 34px)
	+rem(height, 26px)
	+rem(width, 60px)
	.lang-inner
		position: relative
		width: 100%
		height: 100%
		background-color: $maindark
		padding: 2px
		+rem(border-radius, 13px)
		font-size: 0
		a
			+rem(font-size, 12px)
			text-transform: uppercase
			color: $white
			display: inline-block
			+rem(padding, 4px 6px 4px)
			&.active
				background-color: $white
				color: $black
				border-radius: 10px
.account
	position: absolute
	+rem(top, 59px)
	left: 34.1%
	.account-enter
		span
			+rem(font-size, 12px)
			text-transform: uppercase
			color: $white
			+rem(letter-spacing, 0.6px)
			transition: color 0.3s ease
		&:hover
			span
				color: $hover
.navigation-site
	position: absolute
	left: 34.1%
	z-index: 2
	top: 23.6%
	transition: opacity 0.3s linear
	.navigation-list
		.navigation-item
			display: block
			a
				font-family: $Medium
				+rem(font-size, 24px)
				color: $white
				display: block
				+rem(padding, 16px 0)
				span
					position: relative
					&::after
						content: ''
						border-bottom: 2px solid $white
						position: absolute
						right: 0
						width: 100%
						+rem(bottom, -12px)
						opacity: 0
						transition: bottom 0.3s ease, opacity 0.3s ease
				&:hover
					span
						&::after
							+rem(bottom, -6px)
							opacity: 1
.company-based
	position: absolute
	+rem(bottom, 53px)
	+rem(left, 34px)
	.icon
		display: block
		+rem(width, 60px)
		+rem(height, 96px)
		&.icon-based
			background-image: url("../img/icons/icon-since.png")
			background-size: cover
			background-repeat: no-repeat

.address
	position: absolute
	+rem(bottom, 48px)
	left: 34.1%
	transition: opacity 0.3s linear
	.address-item
		&:not(:last-child)
			+rem(margin-bottom, 5px)
		p 
			color: $white
			+rem(font-size, 12px)
			text-transform: uppercase
			+rem(letter-spacing, 0.6px)
		a
			color: $white
			+rem(font-size, 12px)
			text-transform: uppercase
			+rem(letter-spacing, 0.6px)
			color: $white
			transition: color 0.3s ease
			&:hover
				color: $hover
.inactive
	.navigation-site, .address
		opacity: 0.5
.menu
	position: absolute
	top: 0
	height: 100%
	z-index: 915
	background-color: $white
	transform-style: flat
	backface-visibility: hidden
	width: 50%
	left: 100%
	transition: transform 0.3s linear
.menu_content
	position: absolute
	+rem(right, 50px)
	+rem(top, 50px)
	+rem(bottom, 110px)
	+rem(left, 50px)
	.lang
		top: 0
		left: 0
	.account
		+rem(top, 8px)
		left: 23.5%
		.account-enter
			span
				color: $darkHover
.inner-page
	.logo
		+rem(left, 56px)
	.intro-head
		+rem(padding-top, 192px)
		+rem(margin-left, 107px)
		text-align: right
		+rem(margin-bottom, 50px)
		+rem(max-width, 980px)
		text-align: right
		display: inline-block
		width: 100%
		h1, .h1
			+rem(max-width, 780px)
			text-align: left
			display: inline-block
			width: 100%
.container-content
	text-align: right
	+rem(margin-left, 107px)
	+rem(max-width, 980px)
	width: 100%
.breadcumbs
	position: fixed
	+rem(left, 40px)
	top: 54.1%
	height: 50px
	width: 50px
	transform: translate(-10rem, 0)
	transition: transform 0.3s linear
	&.show
		transform: none
	.breadcumbs-inner
		transform: rotate(-90deg)
		a 
			span
				font-family: $Medium
				+rem(font-size, 42px)
				color: $white
				transition: color 0.3s ease
			&:hover
				span 
					color: $hover
.l
	+rem(max-width, 780px)
	text-align: left
	display: inline-block
.section
	text-align: left
.section-scroll
	height: 100%
	overflow: hidden
.intro-head
	position: relative
	&.index-page
		height: 100vh
		width: 100%
		max-width: 61.56vw
		+rem(padding-left, 85px)
		h1
			position: absolute
			+rem(bottom, 175px)
.mouse
	position: absolute
	bottom: 0
	+rem(left, 85px)
	height: 43px
	width: 29px
	border: 3px solid $maincolor
	border-radius: 15px
	+rem(bottom, 49px)
	.mousewheel
		width: 5px
		height: 11px
		background-color: $maincolor
		border-radius: 4px
		position: absolute
		top: 5px	
		left: 9px
		transform-origin: 50% 0
		animation: mouse-wheel 1.25s infinite linear
@keyframes mouse-wheel
	0%,to
		transform: scaleY(.4) translateY(0)
	20%
		transform: scaleY(1) translateY(0)
	60%
		transform: scaleY(.4) translateY(12px)
.contacts-header
	position: absolute
	+rem(right, 222px)
	+rem(top, 62px)
	z-index: 9
.contacts-list
	font-size: 0
	.contacts-item
		display: inline-block
		vertical-align: top
		position: relative
		&:not(:last-child)
			&::after
				content: "."
				position: absolute
				bottom: 0
				font-size: 12px
				right: 0
		a
			font-family: $Book
			font-size: 12px
			color: $dark
			text-transform: uppercase
			letter-spacing: 0.6px
			padding: 0 17px
			transition: color 0.3s linear
			span
				display: inline-block
				vertical-align: middle
			.icon
				margin-right: 8px
				svg
					fill: $dark
					transition: fill 0.3s linear
			&:hover
				color: $maincolor
				.icon
					svg
						fill: $maincolor
.cross-head
	position: absolute
	top: 0
	right: 0
	width: 25px
	height: 25px
	cursor: pointer
	&:hover
		.cross-container
			transform: rotate(180deg)
			.cross
				background-color: $maincolor
.cross-container
	width: 100%
	height: 100%
	position: relative
	transition: transform 0.3s ease
.cross
	position: absolute
	height: 4px
	width: 100%
	background-color: $dark
	top: 50%
	margin-top: -2px
	transition: background-color 0.3s ease
	&.cross-1
		transform: rotate(-45deg) scale(1.25)
	&.cross-2
		transform: rotate(45deg) scale(1.25)

.icon-skype
	width: 15px
	height: 15px
	display: inline-block
	vertical-align: middle
	svg
		width: 100%
		height: 100%
.container-svg
	position: absolute
	top: 0
	left: 0
	height: 100vh
	width: 100%
	.svg-icon-number
		width: 85%
		position: absolute
		bottom: 0
		right: 0
.menu-elements
	position: absolute
	top: 23%
	+clr
	left: 23.5%
	+rem(right, 50px)
	.menu-elements_container
		display: flex
		width: 100%
		margin-bottom: 15.4%
.menu-primary
.menu-primary_item
	display: block
	+rem(margin-bottom, 24px)
.menu-primary_item-link
	font-family: $Bold
	color: $menucolor
	+rem(font-size, 30px)
	transition: color 0.3s ease
	position: relative
	&::after
		content: ""
		+rem(width, 86px)
		height: 2px
		background-color: $maincolor
		opacity: 0
		position: absolute
		+rem(left, -117px)
		top: calc(50% + 1px)
		pointer-events: none
	&:hover
		color: $maincolor
	&.active
		color: $maincolor
		&::after
			opacity: 1
.menu-secondary
	padding-left: 15.4%
.menu-secondary_item
	display: block
	+rem(margin-bottom, 24px)
.menu-secondary_item-link
	font-family: $Bold
	color: $menucolor
	+rem(font-size, 30px)
	transition: color 0.3s ease
	&:hover
		color: $maincolor
	&.active
		color: $maincolor
.menu-contacts
	padding-left: 1px
	.address
		position: relative
		bottom: auto
		left: auto
		+rem(margin-bottom, 35px)
		.address-item
			p, a
				color: $black
			a
				&:hover
					color: $hover
	.contacts-list
		+rem(margin-left, -19px)

.section-scroll-container
	height: 100%
.pages
	height: 100%
	&.transfer-pages
		.loader-container
			overflow: hidden
		[data-scrollbar]
			.scrollbar-track
				opacity: 0
	&.pages-out		
		.section-scroll-container
			animation: contentOut 0.6s ease forwards
	&.pages-in
		.section-scroll-container
			// opacity: 0
			// transform: translate(0, -10%)
			animation: contentIn 0.6s ease forwards
		&.animate-pages
			.section-scroll-container
				opacity: 1
				transform: translate(0, 0)
@keyframes contentOut
	0% 
		opacity: 1
		transform: translate(0, 0)
	100%
		opacity: 0
		transform: translate(0, 10%)
@keyframes contentIn
	0% 
		opacity: 0
		transform: translate(0, -10%)
	100%
		opacity: 1
		transform: translate(0, 0)


.section
	height: 100vh



.container 
	width: 100%
	font-size: 0
	[class^=column-]
		display: inline-block
		vertical-align: top
	// div 
	// 	font-size: 1rem;
	.column-30
		width: 33.33%
	.column-50
		width: 50%
	.column-60
		width: 66.66%
	.column-70
		width: 70%
	.column-100
		width: 100%


.text-center 
	text-align: center
.text-left 
	text-align: left
.text-right
	text-align: right

.icon-text-wrapp
	margin-bottom: 20px;
	img
		+rem(margin-bottom, 30px)
		+rem(height, 60px)
	p 
		+rem(font-size, 20px)
	.icon-star
		+rem(width, 60px)
	.icon-wave
		+rem(width, 65px)
	.icon-mountain
		+rem(width, 62px)
.more
	+rem(font-size, 20px)
	color: $maincolor
	vertical-align: bottom;
	svg
		fill: $maincolor
		width: 15px
		vertical-align: text-top
		padding-top: 3px
.clear-height 
	+rem(height, 60px)
	+rem(width, 100px)
