.footer-topper#contacts
	.l
		.section
			h3.section-title Contact Us
			.feedback-form.center
				.feedback-form_inner
					form(class="form js-validation" id="form-footer" method="" action="fileupload.php" data-maxfilesize="10" data-maxfile="5")
						input(class="hidden" type="text")
						.form-row
							.form-field
								.form-field_group
										input(type="text" name="name" class="input js-empty" data-validation="required" data-validation-error-msg="Specify your full name — we’ll discuss your project in person")
										label(class="form-label")
											span Full name
										i.warning
											svg(class="icon icon-warning")
												use(xlink:href="#icon-warning" xmlns:xlink="http://www.w3.org/1999/xlink")
							.form-field
								.form-field_group
										input(type="email" name="email" class="input js-empty" data-validation="email" data-validation-error-msg="Please fill the field or enter a valid email")
										label(class="form-label")
											span E-mail
										i.warning
											svg(class="icon icon-warning")
												use(xlink:href="#icon-warning" xmlns:xlink="http://www.w3.org/1999/xlink")
						.form-row
							.form-field
								.form-field_group
										input(type="tel" name="phone" class="input js-empty"  data-validation="length" data-validation-length="4-19" data-validation-error-msg="Please fill the field or enter a valid phone number")
										label(class="form-label")
											span Phone number
										i.warning
											svg(class="icon icon-warning")
												use(xlink:href="#icon-warning" xmlns:xlink="http://www.w3.org/1999/xlink")
							.form-field
								.form-field_group
										.selectBox
											select(class="selectbox" data-validation="length" size="2" data-validation-length="min1" data-validation-error-msg="Please fill the field" name="country")
												option(value="United States") United States
												option(value="United Kingdom") United Kingdom
												option(value="Afghanistan") Afghanistan
												option(value="Aland Islands") Aland Islands
												option(value="Albania") Albania
												option(value="Algeria") Algeria
												option(value="American Samoa") American Samoa
												option(value="United States") United States
												option(value="United Kingdom") United Kingdom
												option(value="Afghanistan") Afghanistan
												option(value="Aland Islands") Aland Islands
												option(value="Albania") Albania
												option(value="Algeria") Algeria
												option(value="American Samoa") American Samoa
											.select-container
												.select-text_container
													.select-text
													.select-arrow
														svg(class="icon icon-drop")
															use(xlink:href="#icon-drop" xmlns:xlink="http://www.w3.org/1999/xlink")
												.select-dropdown
										label(class="form-label")
											span Country
										i.warning
											svg(class="icon icon-warning")
												use(xlink:href="#icon-warning" )
						.form-row
							.form-field.form-field_textarea
								.form-field_group
									textarea(type="text" name="message" class="textarea js-empty")
									label(class="form-label")
										span Describe your idea
						.form-row
							.form-field
								.form-field_group.form-field_file-collection
									.form-field_file-item
										#dropzone.upload-files
											.drop-row
												i.icon
													svg(class="icon icon-plus")
														use(xlink:href="#icon-plus", xmlns:xlink="http://www.w3.org/1999/xlink")
												span Attach file
											.msg-container
										//- input(type="file" class="js-file-load" size="5" name="files[]" multiple)
										//- output
										//- .file-load_container
										//- .progress-container
										//- 	.progress

							.form-field
								.form-field_group
									button(class="submit-feedback" type="submit")
										span Send your message
					#previewTemplate
						.dz-preview.dz-file-preview
							.dz-details
								.dz-filename
									span.dz-name(data-dz-name)
									span.dz-size(data-dz-size)
									span.dz-remove(data-dz-remove)

			.feedback-text
				.textblock
					.textblock-title
						p United States
					.textblock-content
						p 720 207 2820
				.textblock
					.textblock-title
						p United Kingdom
					.textblock-content
						p 44 20 7712 1502 <br> Sales inquiries
						p 44 20 7712 1505 <br> General inquiries
.footer-bottom
	.l
		.copyright © 2016, Itransition
		a.private(href="#") Privacy Policy
		.center
			.social
				mixin social(link, name, icon)
					a(class="social-item" href=link)
						svg(class="icon icon-" + name)
							use(xlink:href=icon, xmlns:xlink="http://www.w3.org/1999/xlink")
				+social("#", "facebook", "#icon-facebook")
				+social("#", "linked", "#icon-linked")
				+social("#", "twit", "#icon-twit")
				+social("#", "rss", "#icon-rss")