.inner
	.header-inner
		if(bool)
			a(class="logo" class={white: white === true} href="/")
		else
			.logo(class={white: white === true})
		.header-navigation(class={white: white === true})
			include ../includes/_menu
		.message
			.message-cover
				svg.icon.icon-message
					use(xlink:href="#icon-message" xmlns:xlink="http://www.w3.org/1999/xlink")
	.header-bg