<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title of template</title>
    <meta name="viewport" content="width=980">
    <meta content="IE=9" http-equiv="X-UA-Compatible">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/screen.min.css">
  </head>
  <body>
    <!--BEGIN out-->
    <div class="out">
    </div>
    <!--END out-->
    <script src="js/lib.min.js"></script>
    <script src="js/common.min.js"></script>
  </body>
</html>