extends _layout

block title
	title Index
block content
	.root_wrapper.load-dom
		i.overlay
		.ui-menu
			span.ui-menu__content
				i.ui-menu-line.ui-menu-line-1
				i.ui-menu-line.ui-menu-line-2
				i.ui-menu-line.ui-menu-line-3
		.root_frame
			.root_frame-content
				.pages.inner-page
					section.constant-section.inactive
						include includes/_constant-section
					section.variable-section
						- var Index = false
						if(Index)
							.logo
						else
							a(href="/" class="js-link logo")
						.breadcumbs.show
							.breadcumbs-inner
								a(href="/" class="js-link")
									span Products
						.loader-container
							.section-scroll-container
								.section-scroll.js-ajx(data-pages="true")
									.intro-head
										h1.h1
											span Base oils 
											| by four groups
									.container-content
										.l Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		- var active = "Home"
		include includes/_navigation