extends _layout

block title
	title Index
block content
	.root_wrapper.load-dom
		i.overlay
		.ui-menu
			span.ui-menu__content
				i.ui-menu-line.ui-menu-line-1
				i.ui-menu-line.ui-menu-line-2
				i.ui-menu-line.ui-menu-line-3
		.root_frame
			.root_frame-content
				.pages.inner-page
					section.constant-section.inactive
						include includes/_constant-section
					section.variable-section
						- var Index = false
						if(Index)
							.logo
						else
							a(href="/" class="js-link logo")
						.breadcumbs.show
							.breadcumbs-inner
								a(href="/" class="js-link")
									span Products
						.loader-container
							.section-scroll.js-ajx(data-pages="true")
		- var active = "Home"
		include includes/_navigation