extends _layout

block title
	title Title of template
block content
	.wrapper
		.header
			- var bool = true
			- var currentClass = "Company"
			include includes/_header
		.wrap.wrap-blog.wrap-blog_result
			.intro
				.intro-bg
					.intro-bg_in(style="background-color: #f7f7f7;")
				.l
					.intro-inner
						.intro-head
							.bread-crumbs
								ul.bread-crumbs_list
									li
										a(href="#") Home
									li
										a(href="#") Company
									li
										span Blog
							h1 Search results
						.search
							.search-form
								form(action="" method="")
									.field-row
										.field.field-slide
											input(type="text" class="search-input js-input" placeholder="Search" value="Itransition channel 5 24")
											button(class="search-submit" type="button")
												i
													svg(class="icon icon-search")
														use(xlink:href="#icon-search" xmlns:xlink="http://www.w3.org/1999/xlink")
											button(type="reset" class="search-reset")
												i
													svg(class="icon icon-close")
														use(xlink:href="#icon-close" xmlns:xlink="http://www.w3.org/1999/xlink")
					.search-results We found for you 
						span 50 results
			section.section
				.section-inner
					.l
						.blog.blog-result
							.card-container
								mixin card(image, name, descr)
									.card
										.card-inner
											a.image-container(href="#")
												.img(style="background-image: url("+image+")")
											.read-time Reading time: 15 min.
											.card-info
												a(href="#")
													h4.title!= name
												.author By Press Office
												span.descr!= descr
												a(href="#" class="read-more") Read more
								+card("img/blog/blog.jpg", "<span>Itransition channel</span> Ranked Among Top Companies on&nbsp;IAOP 2016 Global", "... The business world began talking about learning organizations in 1990. The principles stated in that classic publication are true all these years later, and today it is interesting to see how <span>Itransition channel</span> ...")
								+card("img/blog/blog-2.jpg", "Bringing Long-Distance Collaboration to the Next Level, or Why Itransition Opened an Office in the UK", "This article discusses different branch office modes <span>Itransition channel</span> has tried over the years, the scheme we consider optimal for us at the moment, the offshore/local dilemma as well as some considerations ..")
								+card("img/blog/blog.jpg", "<span>Itransition channel</span> Ranked Among Top Companies on&nbsp;IAOP 2016 Global", "... The business world began talking about learning organizations in 1990. The principles stated in that classic publication are true all these years later, and today it is interesting to see how <span>Itransition channel</span> ...")
								+card("img/blog/blog-2.jpg", "Bringing Long-Distance Collaboration to the Next Level, or Why Itransition Opened an Office in the UK", "This article discusses different branch office modes <span>Itransition channel</span> has tried over the years, the scheme we consider optimal for us at the moment, the offshore/local dilemma as well as some considerations ..")
								+card("img/blog/blog.jpg", "<span>Itransition channel</span> Ranked Among Top Companies on&nbsp;IAOP 2016 Global", "... The business world began talking about learning organizations in 1990. The principles stated in that classic publication are true all these years later, and today it is interesting to see how <span>Itransition channel</span> ...")
								+card("img/blog/blog-2.jpg", "Bringing Long-Distance Collaboration to the Next Level, or Why Itransition Opened an Office in the UK", "This article discusses different branch office modes <span>Itransition channel</span> has tried over the years, the scheme we consider optimal for us at the moment, the offshore/local dilemma as well as some considerations ..")
								+card("img/blog/blog.jpg", "<span>Itransition channel</span> Ranked Among Top Companies on&nbsp;IAOP 2016 Global", "... The business world began talking about learning organizations in 1990. The principles stated in that classic publication are true all these years later, and today it is interesting to see how <span>Itransition channel</span> ...")
								+card("img/blog/blog-2.jpg", "Bringing Long-Distance Collaboration to the Next Level, or Why Itransition Opened an Office in the UK", "This article discusses different branch office modes <span>Itransition channel</span> has tried over the years, the scheme we consider optimal for us at the moment, the offshore/local dilemma as well as some considerations ..")
								+card("img/blog/blog.jpg", "<span>Itransition channel</span> Ranked Among Top Companies on&nbsp;IAOP 2016 Global", "... The business world began talking about learning organizations in 1990. The principles stated in that classic publication are true all these years later, and today it is interesting to see how <span>Itransition channel</span> ...")
								+card("img/blog/blog-2.jpg", "Bringing Long-Distance Collaboration to the Next Level, or Why Itransition Opened an Office in the UK", "This article discusses different branch office modes <span>Itransition channel</span> has tried over the years, the scheme we consider optimal for us at the moment, the offshore/local dilemma as well as some considerations ..")
							a(class="load-card" href="#")
								span Load more
							
	.footer
		include includes/_footer