extends _layout

block title
	title Blog
block content
	.wrapper
		.header
			- var bool = true
			- var currentClass = "Company"
			include includes/_header
		.wrap.wrap-blog
			.intro
				.intro-bg
					.intro-bg_in(style="background-color: #f7f7f7;")
				.l
					.intro-inner
						.intro-head
							.bread-crumbs
								ul.bread-crumbs_list
									li
										a(href="#") Home
									li
										a(href="#") Company
									li
										span Blog
							h1 CORPORATE BLOG
						.search
							.search-form
								form(action="" method="")
									.field-row
										.field.field-slide
											input(type="text" class="search-input js-input" placeholder="Search" value="Itransition channel 5 24")
											button(class="search-submit" type="button")
												i
													svg(class="icon icon-search")
														use(xlink:href="#icon-search" xmlns:xlink="http://www.w3.org/1999/xlink")
											button(type="reset" class="search-reset")
												i
													svg(class="icon icon-close")
														use(xlink:href="#icon-close" xmlns:xlink="http://www.w3.org/1999/xlink")
			section.section
				.section-inner
					.l
						.blog
							.card-container
								mixin card(style, image, name)
									.card(class=style)
										a(href="#")
											.image-container
												.img(style="background-image: url("+image+")")
											.read-time Reading time: 15 min.
											.card-info
												.author By Press Office
												.title #{name}
								+card("full-width", "img/blog/blog.jpg", "Bringing Long-Distance Collaboration to the Next Level, or Why Itransition Opened an Office in the UK")
								+card("medium-width", "img/blog/blog-2.jpg", "Itransition Renews Microsoft Gold Partnership")
								+card("medium-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("small-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("medium-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("small-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("small-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("small-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("small-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("small-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("medium-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("small-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("small-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("small-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("small-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("small-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("small-width", "img/blog/blog-3.jpg", "Itransition OrgStructure Change: Alex Demichev is The Company’s New CEO")
								+card("full-width", "img/blog/blog.jpg", "Bringing Long-Distance Collaboration to the Next Level, or Why Itransition Opened an Office in the UK")
							a(class="load-card" href="#")
								span Load more
	.footer
		include includes/_footer