extends _layout

block title
	title Index
block content
	.root_wrapper.load-dom
		i.overlay
		.ui-menu
			span.ui-menu__content
				i.ui-menu-line.ui-menu-line-1
				i.ui-menu-line.ui-menu-line-2
				i.ui-menu-line.ui-menu-line-3
		.root_frame
			.root_frame-content
				.pages
					section.constant-section
						include includes/_constant-section
					section.variable-section
						- var Index = true
						if(Index)
							.logo
						else
							a(href="/" class="js-link logo")
						.breadcumbs
							.breadcumbs-inner
								a(href="/" class="js-link")
									span main
						.loader-container
							.contacts-header
								ul.contacts
									li.contacts-item
										a.phone(href="callto:+37166165507")
											span +371 6616 5507
									li.contacts-item
										a.skype(href="skype:himbalt.lv?call")
											i.icon.icon-skype
												svg(class="icon")
													use(xlink:href="#icon-skype")
											span himbalt.lv
									li.contacts-item
										a.mail(href="mailto:info@himbalt.lv")
											span info@himbalt.lv
							.section-scroll-container
								.section-scroll.js-ajx(data-pages="false")
									.intro-head.index-page
										h1.h1
											span Twenty five 
											| years of effective operations in the petroleum products market
										.mouse
											.mousewheel
									.container-content
		- var active = "Home"
		include includes/_navigation