extends _layout

block title
	title Index
block content
	.root_wrapper.load-dom
		i.overlay
		.ui-menu
			span.ui-menu__content
				i.ui-menu-line.ui-menu-line-1
				i.ui-menu-line.ui-menu-line-2
				i.ui-menu-line.ui-menu-line-3
		.root_frame
			.root_frame-content
				.pages(id="my-scrollbar")
					section.constant-section.js-constant
						include includes/_constant-section
						.breadcumbs
							.breadcumbs-inner
								a(href="/" class="js-link")
									span main
					section.variable-section
						- var Index = true
						if(Index)
							.logo
						else
							a(href="/" class="js-link logo")
						.loader-container
							.section-scroll-container
								include includes/_header
								.section-scroll.js-ajx(data-pages="false")
									.container-svg
										.svg-icon-number
											<svg id="icon-numbers" width="741" height="510.2" viewBox="0 0 741 510.2" xmlns="http://www.w3.org/2000/svg"><path d="m1.1,84.7l0,0l67,53.3c27.8,-33.6 57.4,-50.4 88.6,-50.4c19.2,0 34.4,5.6 45.7,16.9c11.3,11.3 16.9,26.8 16.9,46.5c0,29.3 -12.5,60.1 -37.5,92.2s-79.8,90.1 -164.3,173.7l0,80.7l317,0" stroke-miterlimit="10" stroke="#AC252A" fill="none"/><path d="m334.8,497.6l11.6,-87.2l-199.7,0c74.9,-68.2 125.3,-120.8 151,-157.8s38.5,-74.7 38.5,-113.1c0,-39.4 -14.9,-72.4 -44.7,-99c-29.8,-26.7 -70.9,-40 -123.2,-40c-68.7,0 -124.4,28.1 -167.1,84.3l0,0" stroke-miterlimit="10" stroke="#AC252A" fill="none"/><path d="m716.9,10.5l-298.3,0l0,263l77.1,0c21.1,-11.6 40.6,-17.3 58.4,-17.3c45.7,0 68.5,27.1 68.5,81.4c0,27.9 -6.9,49.3 -20.5,64.1c-13.7,14.9 -33,22.4 -58,22.4c-36.5,0 -67.9,-15.6 -94.4,-46.8l-63.4,59.1" stroke-miterlimit="10" stroke="#AC252A" fill="none"/><path d="m386.2,436.3c42.2,49 96.3,73.5 162.1,73.5c57.6,0 103.9,-15.8 138.7,-47.6c34.9,-31.7 52.2,-73.5 52.2,-125.3c0,-49.4 -13,-88.2 -38.9,-116.4c-26,-28.1 -59.6,-42.1 -100.9,-42.1c-25.5,0 -49.5,5.3 -72.1,15.8l0,-102.3l176.5,0l13,-81.4" stroke-miterlimit="10" stroke="#AC252A" fill="none"/></svg>
											script(type="text/javascript").
												var viv = new Vivus("icon-numbers", {
													type: "sync",
													duration: 100,
													onReady: function(viv){
														viv.play()
													}
												})
									.intro-head.index-page
										h1.h1
											span Twenty five 
											| years of effective operations in the petroleum products market
										.mouse
											.mousewheel
									article.container-content
										section.section.js-section(data-inview-class="push-it")
											.l
												div.container
													div.column-30 
														h2 Cooperate with <span> our company </span> profitable.
													div.column-60
														div.container 
															div.column-50
																div.icon-text-wrapp
																	img.icon-star(src='img/icons/icon-stars.png' alt='')
																	p Registration of base oils imported to EU
															div.column-50
																div.icon-text-wrapp
																	img.icon-wave(src='img/icons/icon-wave.png' alt='')
																	p Transshipment solutions at Baltic and Black Sea terminals
															div.column-50
																div.icon-text-wrapp
																	img.icon-mountain(src='img/icons/icon-mountain.png' alt='')
																	p Contracts with major lubricant producers
															div.column-50
																i.clear-height
																a.more(href = '#') More <svg id="arrow-left-more" width="244.8" height="185" viewBox="0 0 244.8 185" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="enable-background:new 0 0 244.8 185;" xml:space="preserve"><path d="M241.2,83.7l-80-80c-4.9-4.9-12.8-4.9-17.7,0c-4.9,4.9-4.9,12.8,0,17.7L202.2,80H12.5C5.6,80,0,85.6,0,92.5C0,99.4,5.6,105,12.5,105h189.7l-58.7,58.7c-4.9,4.9-4.9,12.8,0,17.7c2.4,2.4,5.6,3.7,8.8,3.7s6.4-1.2,8.8-3.7l80-80C246.1,96.5,246.1,88.5,241.2,83.7z"/></svg>

										section.section.js-section(data-inview-class="push-it")
											.l
												p loprem1
										section.section.js-section(data-inview-class="push-it")
											.l
												p loprem2
										section.section.js-section(data-inview-class="push-it")
											.l
												p loprem3
										section.section.js-section(data-inview-class="push-it")
											.l
												p loprem4
		- var active = "Home"
		include includes/_navigation