extends _layout

block title
	title Index
block content
	.root_wrapper.load-dom
		i.overlay
		.ui-menu
			span.ui-menu__content
				i.ui-menu-line.ui-menu-line-1
				i.ui-menu-line.ui-menu-line-2
				i.ui-menu-line.ui-menu-line-3
		.root_frame
			.root_frame-content
				.pages.inner-page(id="my-scrollbar")
					section.constant-section.inactive.js-constant
						include includes/_constant-section
						.breadcumbs.show
							.breadcumbs-inner
								.breadcrumbs-content
									.breadcrumbs-item
										a(href="/" class="js-link")
											span Products
									.breadcrumbs-item
										a(href="/" class="js-link")
											span Home
					section.variable-section
						.logo-container
							- var Index = false
							if(Index)
								.logo
							else
								a(href="/" class="js-link logo")
						include includes/_header
						.loader-container
							.section-scroll-container
								.section-scroll.js-ajx(data-pages="true")
									.container-svg
										.svg-icon-number.svg-icon-atom
											<svg id="icon-rock-oil" width="464.3" height="510.2" viewBox="0 0 464.3 510.2" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m5.60001,134.89999c-27,51.2 51.60001,146 175.80002,212l0,-0.10001c124.09998,65.90002 246.70001,77.90002 273.89996,26.60001" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/></g><g><path d="m455.29999,373.39999c27,-51.20001 -51.59998,-146 -175.79999,-212l0,0.09999c-124.30005,-65.89999 -246.90002,-77.8 -273.90002,-26.59999" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/></g><g><path d="m9.20001,375.70001c-27,-51.20001 51.60001,-146.2 175.79999,-212.2l-0.09998,0.10001c124.09998,-65.80002 246.89996,-77.80002 273.89996,-26.60002" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/></g><g><path d="m458.79999,137c27,51.2 -51.5,146.10001 -175.70001,212.10001c-124.19995,65.89999 -246.79999,77.89999 -273.89996,26.60001" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/></g><g><path d="m233.90002,511.10001c-57.79999,0 -104.79999,-114.19998 -104.79999,-254.80002c0,-140.79999 46.89996,-254.89998 104.79999,-254.89998" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/></g><g><path d="m233.90002,1.4c57.79999,0 104.79999,114.2 104.79999,254.89999c0,140.80002 -46.89996,254.80002 -104.79999,254.80002" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/></g></g></svg>
											script(type="text/javascript").
												var viv = new Vivus("icon-rock-oil", {
													type: "sync",
													duration: 150,
													onReady: function(viv){
														setTimeout(function(){
															viv.play()
														},500);
													}
												})
									//- main container
									article.container-content
										section.intro-head
											h1.h1
												span Petrochemicals
										section.section.js-section(data-inview-class="push-it")
											.l
												p.lead We develop multidirectional supply markets to minimize seasonal and regional market uctuations, providing stable accomplishment of customers requests and creating stable demand for base oils manufacturers during the year
										
										section.section.js-section(data-inview-class="push-it")
											.container
												.container-image
													.image-element
														img(src="img/image-content/img-2.jpg")
													.text-elements(id="group-1")
														h2.h2 We deliver base oils <br> in 43 countries 
														p We develop multidirectional supply markets to minimize seasonal and regional market uctuations, providing stable accomplishment of customers requests and creating stable demand for base oils manufacturers during the year
										section.section.js-section(data-inview-class="push-it")
											.l
												.table-container
													table
														thead
															tr
																th Name
																th Discription, application
																th Transportation
														tbody
															tr
																td(data-title="Name") Polyethilene high pressure / low dencity
																td(data-title="Discription, application") LDPE is produced in granules packed in 25 kg bags andLDPE is used in preparation of film, medical and electro technical materials, in agriculture and national economy.
																td(data-title="Transportation") Is transported in roofed transpot by land and sea.
															tr
																td(data-title="Name") Polyethilene high pressure / low dencity
																td(data-title="Discription, application") LDPE is produced in granules packed in 25 kg bags andLDPE is used in preparation of film, medical and electro technical materials, in agriculture and national economy.
																td(data-title="Transportation") Is transported in roofed transpot by land and sea.
															tr
																td(data-title="Name") Polyethilene high pressure / low dencity
																td(data-title="Discription, application") LDPE is produced in granules packed in 25 kg bags andLDPE is used in preparation of film, medical and electro technical materials, in agriculture and national economy.
																td(data-title="Transportation") Is transported in roofed transpot by land and sea.
															tr
																td(data-title="Name") Polyethilene high pressure / low dencity
																td(data-title="Discription, application") LDPE is produced in granules packed in 25 kg bags andLDPE is used in preparation of film, medical and electro technical materials, in agriculture and national economy.
																td(data-title="Transportation") Is transported in roofed transpot by land and sea.
															tr
																td(data-title="Name") Polyethilene high pressure / low dencity
																td(data-title="Discription, application") LDPE is produced in granules packed in 25 kg bags andLDPE is used in preparation of film, medical and electro technical materials, in agriculture and national economy.
																td(data-title="Transportation") Is transported in roofed transpot by land and sea.
															tr
																td(data-title="Name") Polyethilene high pressure / low dencity
																td(data-title="Discription, application") LDPE is produced in granules packed in 25 kg bags andLDPE is used in preparation of film, medical and electro technical materials, in agriculture and national economy.
																td(data-title="Transportation") Is transported in roofed transpot by land and sea.
															tr
																td(data-title="Name") Polyethilene high pressure / low dencity
																td(data-title="Discription, application") LDPE is produced in granules packed in 25 kg bags andLDPE is used in preparation of film, medical and electro technical materials, in agriculture and national economy.
																td(data-title="Transportation") Is transported in roofed transpot by land and sea.
															tr
																td(data-title="Name") Polyethilene high pressure / low dencity
																td(data-title="Discription, application") LDPE is produced in granules packed in 25 kg bags andLDPE is used in preparation of film, medical and electro technical materials, in agriculture and national economy.
																td(data-title="Transportation") Is transported in roofed transpot by land and sea.
															tr
																td(data-title="Name") Polyethilene high pressure / low dencity
																td(data-title="Discription, application") LDPE is produced in granules packed in 25 kg bags andLDPE is used in preparation of film, medical and electro technical materials, in agriculture and national economy.
																td(data-title="Transportation") Is transported in roofed transpot by land and sea.
										section.section
											.l
												.groups-container-elements
													.groups-container_item.js-section(data-inview-class="push-it")
														.groups-head(id="group-1")
															h2.h2 Group I
														.groups-body
															.elemets-container
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 80
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 100
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 150
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 250
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 350
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 400
															.elemets-container
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 500
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 650
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 900
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 1200
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span BS
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span BS 150
										
										script(type="text/javascript").
											$(goToAnchors);
		- var active = "Petrochemicals"
		include includes/_navigation
		include includes/_groups-modal
		include includes/_news-modal
		include includes/_form-modal
		include includes/_developer