extends _layout

block title
	title Index
block content
	.root_wrapper.load-dom
		i.overlay
		.ui-menu
			span.ui-menu__content
				i.ui-menu-line.ui-menu-line-1
				i.ui-menu-line.ui-menu-line-2
				i.ui-menu-line.ui-menu-line-3
		.root_frame
			.root_frame-content
				.pages.inner-page(id="my-scrollbar")
					section.constant-section.inactive.js-constant
						include includes/_constant-section
						.breadcumbs.show
							.breadcumbs-inner
								a(href="/" class="js-link")
									span Logistics
					section.variable-section
						- var Index = false
						if(Index)
							.logo
						else
							a(href="/" class="js-link logo")
						.loader-container
							.section-scroll-container
								include includes/_header
								.section-scroll.js-ajx(data-pages="true")
									.container-svg
										.svg-icon-number.svg-icon-atom
											<svg id="icon-rock-oil" width="509.8" height="509.8" viewBox="0 0 509.8 509.8" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m300.4,160.4c-124.2,-65.8 -246.7,-77.7 -273.7,-26.6c-27,51.2 51.6,145.9 175.6,211.8" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/></g><g><path d="m202.3,345.5c124,65.8 246.5,77.8 273.7,26.6c27,-51.2 -51.6,-145.9 -175.6,-211.8" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/></g><g><path d="m304,347.8c-124.2,65.8 -246.7,77.8 -273.7,26.6s51.6,-146.1 175.6,-212" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/></g><g><path d="m205.8,162.5c124,-65.8 246.7,-77.8 273.7,-26.6s-51.5,146 -175.5,211.9" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/></g><g><path d="m150.1,255.1c0,-140.7 46.9,-254.7 104.7,-254.7s104.7,114.1 104.7,254.7" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/></g><g><path d="m26.7,133.8c-27,51.2 51.6,145.9 175.6,211.8s246.5,77.8 273.7,26.6c27,-51.2 -51.6,-145.9 -175.6,-211.8c-124.2,-65.9 -246.7,-77.7 -273.7,-26.6z" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/><path d="m359.5,255.1c0,140.7 -46.9,254.6 -104.7,254.6s-104.7,-114.1 -104.7,-254.6" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/><path d="m479.5,135.8c27,51.2 -51.6,146.1 -175.6,212c-124.2,65.8 -246.7,77.8 -273.7,26.6s51.6,-146.1 175.6,-212s246.7,-77.8 273.7,-26.6z" stroke-miterlimit="10" stroke-width="0.5" stroke="#AC262A" fill="none"/></g></g></svg>
											script(type="text/javascript").
												var viv = new Vivus("icon-rock-oil", {
													type: "sync",
													duration: 150,
													onReady: function(viv){
														viv.play()
													}
												})
									.intro-head
										h1.h1
											span Petrochemicals
									article.container-content
										section.section.js-section(data-inview-class="push-it")
											.l
												p.lead We develop multidirectional supply markets to minimize seasonal and regional market uctuations, providing stable accomplishment of customers requests and creating stable demand for base oils manufacturers during the year
										
										section.section.js-section(data-inview-class="push-it")
											.container-image
												.image-element
													img(src="img/image-content/img-2.jpg")
												.text-elements(id="group-1")
													h2.h2 We deliver base oils <br> in 43 countries 
													p We develop multidirectional supply markets to minimize seasonal and regional market uctuations, providing stable accomplishment of customers requests and creating stable demand for base oils manufacturers during the year
										section.section
											.l
												.groups-container-elements
													.groups-container_item.js-section(data-inview-class="push-it")
														.groups-head(id="group-1")
															h2.h2 Group I
														.groups-body
															.elemets-container
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 80
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 100
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 150
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 250
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 350
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 400
															.elemets-container
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 500
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 650
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 900
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span SN 1200
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span BS
																.elements-field
																	.element-trigger(data-id-content="" data-modal="projects")
																		.element-name
																			span BS 150
										
										script(type="text/javascript").
											$(goToAnchors)											
											var modalsProject = new Modals("[data-modal]");
		- var active = "Base oils"
		include includes/_navigation
		include includes/_groups-modal