extends _layout

block title
	title Title of template
block content
	.wrapper
		.header
			- var bool = true
			- var white = true
			- var currentClass = "Company"
			include includes/_header
		.wrap.wrap-inner
			.intro
				.intro-bg
					.intro-bg_in(style="background-image: url(img/blog-inner.jpg);")
				.l
					.intro-inner
						.intro-head
							.bread-crumbs
								ul.bread-crumbs_list
									li
										a(href="#") Home
									li
										a(href="#") Company
									li
										span Portfolio
							h2 ADIDAS MICOACH
							p.descr The Power of Data on Gadgets, Web, Desktop & Mobile. Collecting data from smart gadgets, automated pairing and data extraction. Data analysis and rich visualization. Two-way data transfer between web portal, desktop app, smartphone and devices
			section.section
				.section-inner
					.l
						.section-name
							.title-head
								h3 
									span Problem
						.text-container
							.text-inner
								.title-head
									h4.h4 Client
								p The Client — adidas — is the world’s most famous producer of sports equipment and clothes for amateur and professional athletes across the globe.
								p Alongside with the traditional production, the company develops innovative business areas such as first-of-a-kind hardware devices for fitness activity tracking and intelligent software solutions for them — adidas miCoach.
								p Adidas miCoach product family includes Speed Cell, Pacer Bundle, and Heart Rate Monitor. These gadgets collect various activity statistics such as speed, number of steps, calories burnt, workout time, distance, and heart rate. Devices are connected to a PC/Mac and an iPod/iPhone to pass aggregated data to the miCoach.com. The web solution on the back-end of the portal stores the data, analyses the results, and allows setting new goals and creating individual training plans. In other words, the user gets a professional virtual coach at his sole disposal.
								p Initially, miCoach device management desktop application was developed by a 3rd party vendor. It had poor usability, design and performance because of certain technology limitations.
								p adidas needed a comprehensive solution that would meet contemporary technology requirements and correspond to usability expectations, and decided to redesign the desktop sync application. The ultimate goal was to make synchronization process easier and consequently increase devices sales.
								p During the technology partner selection process, deep domain knowledge and relevant industry expertise of Itransition were identified as the top competitive advantages and helped land the deal.
						.text-container
							.text-inner
								.title-head
									h4.h4 Challenge
								p One of the major challenges was the lack of documentation for the legacy application. Itransition team had to investigate the source code of the existing desktop manager to identify functional interactions between features. We decompiled the Java application to understand the solution’s business logic and low level communication algorithms.
						.text-container
							.text-inner
								.title-head
									h4.h4 Influencing Public Image Online
								p Big B2C players, such as food producers or home electronics manufacturers, constantly face the challenge of managing their brand perception across multiple product lines and consumer audiences. Along with continuous investments in research, production processes improvement and quality management companies have to encourage positive customer feedback while mitigating the negative impact of bias in social media.
						.text-container
							.text-inner
								.title-head
									h4.h4 Transforming Professional Knowledge into Software Solution
								p None of the single so ware solutions on the market adequately met the highly specialized needs of our client. Working for huge enterprises with hundreds of products often targeted at different consumer segments our customer required a powerful integrated solution grounded on the company’s unique knowledge and experience.
							.figure-container
								figure.figure.scheme
									img(src="img/scheme/scheme-1.jpg")
						.text-container
							.text-inner
								.title-head
									h4.h4 Transforming Professional Knowledge into Software Solution
								p None of the single so ware solutions on the market adequately met the highly specialized needs of our client. Working for huge enterprises with hundreds of products often targeted at different consumer segments our customer required a powerful integrated solution grounded on the company’s unique knowledge and experience.
			section.section.full-color
				.section-inner
					.l
						.section-name
							.title-head
								h3 
									span Solution
						.text-container
							.text-inner
								p adidas miCoach desktop manager is responsible for the following activities:
								ol
									li Synchronization of miCoach devices with the PC/Mac desktop application
									li Data transmission to desktop application
									li Connection to the web portal, data transformation and transfer for aggregated analysis
						.text-container
							.text-inner
								.title-head
									h4.h4 Variety of data formats
								p The following data can be extracted from and aggregated on devices for further analysis:
								ol
									li Speed Cell collects data on speed, distance, activity efforts;
									li Heart Rate Monitor listens to the user’s heart during workouts and passes the data to Pacer Bundle;
								p Pacer Bundle can be paired with Speed Cells and Heart Rate Monitor on-the-fly to track and aggregate information related to steps and distance, calculate calories burnt in correspondence with activity efforts and heart rate based on the data from multiple sensors.
							.gallery-container
								.gallery.gallery-main.slider-for
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
								.gallery.gallery-thumbnails.slider-thumbnails
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
									.gallery-item
										img(src="img/image-content/img-6.jpg")
						.text-container
							.text-inner
								.title-head
									h4.h4 Extracting data from smart devices
								p Adidas miCoach devices have wireless adaptor and can synchronize the activity stats data collected during the workouts with an iPod/ iPhone or a laptop via Wi-Fi. The desktop application allows selecting and syncing necessary devices from the list of found nearby. Once paired with any Speed Cell, Pacer or Heart rate monitor, the application will save the parameters and connect devices automatically any time in the future.
								p When the devices are connected to a PC/Mac, the user can launch data synchronization process with adidas miCoach.com web portal and pass the data to the analytical web application using SOAP protocols. Connecting desktop application to adidas web portal.
						.figure-container
							figure.figure
								img(src="img/image-content/img-7.jpg")
						.text-container
							.text-inner
								p As soon as the data appears on web UI, the application transforms incoming values and displays them as graphs and charts in a comprehensible, easy-to-read shape.
								p Using miCoach web application athletes can track workout efficiency and find the balance between efforts and results. Based on the information collected users can set up a personal activity plan to achieve desired results. Personal coaching program can be downloaded from the web portal to the desktop application and then synchronized with devices. Thus users will be able to listen to personal coach’s commands through the Pacer Bundle and perform exercises as instructed.
							.figure-container
								figure.figure.scheme
									img(src="img/scheme/scheme-2.jpg")
						.text-container
							.text-inner
								.title-head
									h4.h4 End-to-End Processing with Emphasis on ETL and Visualization
								p The BI portal delivered by Itransition encapsulates 4 major solutions providing an end-to-end data processing capability.
								ol
									li A central BI storage with processing kernel serving at the same time as a service-oriented integration point.
									li Application integration & ETL solution to attach to the data collected by third-party software and directly from the other available data sources to the processing kernel.
									li Report designer to allow analysts to compose custom queries.
									li Presentation layer visualizing dynamic data and instance relationships.
								p For better understanding of how the system works the diagram below represents a high level architecture of the whole solution.
								.title-head
									h5.h5 ETL and Integration Challenges
								p Extracting data from the multiple sources and loading it to the BI central storage was a fundamental task to be completed to enable further analytical processing. The major challenge for Itransition was the integration of several third party modules not initially designed to work together.
								h5.h5 API Integrations
								p The two existing web tools, utilized for gathering information throughout the Internet, have been seamlessly connected to the BI portal via API integration. In addition, Itransition integrated Google API thus enabling the monitoring of Google Analytics stats and Google Insights trends.
								.title-head
									h5.h5 XML Parsing
								p One more software module brings the data reflecting brand behavior in offline resources such as TV or print publications. The software has poor interoperability so we had no chance to work with API and required to find an alternative solution to extract the data from remote servers and upload it into central BI storage. To overcome the issue we engineered XML parsing mechanism to load the data from external system rapidly and return it as a part of web content.
								.title-head
									h5.h5 Text Files Processing
								p A sufficient piece of information was available in CSV files only. Itransiton team made the data contained in those files an integral part of the BI data mart by developing a connector to file repository that automatically extracts and transfers the data to the system.
								.title-head
									h5.h5 Transforming and Aggregating Data
								p The information extracted from the variety of sources is then to be prepared for analytical processing. This involves not only advanced Data Manipulation functionality but also Data Quality Management techniques including cleansing, normalization, consistency verification, avoiding duplications, etc. Finally, the data is mapped to the analytical database structure to serve as a reliable and representative data mart easy to work with.
								p The nature of business data the customer deals with requires processing of huge information volumes gained from multiple sources and updated frequently, so we had to develop a really scalable and high performance solution for fast dynamic data aggregation and presenting it in a variety of analytical views.
								p Built with best database development and OLAP practices the analytical kernel allows 360-degree picture of brand behavior in social media and is flexible to configure/customize reports and analytical views to match specifics of the brand under monitoring.
						.text-container
							.text-inner
								.title-head
									h4.h4 Presentation Layer
								p All the efforts spent on data gathering would have no value without providing analysts with the possibility to easily recognize brand state, dynamics and trends via data visualization. Itransition created rich presentation layer combining traditional data visualization tools with advanced techniques of semantic analysis and instance relationship visualization.
							.figure-container.col-2
								figure.figure
									img(src="img/image-content/img-8.jpg")
								figure.figure
									img(src="img/image-content/img-9.jpg")
							.text-inner
								p The aggregated information is presented in customizable dynamic grids, drilldowns, charts and visual indicators.
						.text-container
							.important-info
								p adidas miCoach became extremely popular, and over 5 million users have already installed iOS/ Android mobile applications from App Store and Google Play.
			section.section
				.section-inner
					.l
						.section-name
							.title-head
								h3 
									span Process
						.text-container
							.text-inner
								.title-head
									h4.h4 Challenges
								.footnote-container
									p Intensive and strictly timed, the project posed a number of technical and business challenges:
									.footnote
										p 2 managers needed for&nbsp;mixed teams
								ol
									li 
										strong Quick Start and Work Up-Tempo. 
										| Considering upcoming deadline and the amount of work left before the launch of the solution, the Customer required rapid development team augmentation and good working performance. Itransition integrated 8 senior .NET developers who studied quickly the context of the project and set down to development in a couple of days. To accomplish the Customer’s objective, our team worked overtime.
									li 
										strong Lack of Requirements and Technology Tracking from the Vendor. 
										| The provided technical and business documentation was incomplete. During development, Itransition encountered some functional features that were not documented, yet needed implementation. Our team had to reorganize the development process quickly, considering the new requirements.
									li 
										strong Geographically Distributed Development. 
										| Itransition was responsible for the solution’s frontend development and testing, as well as integration with Exchange, while the internal Customer’s team performed server data synchronization and configuration. Our team established uninterrupted communication with the Customer’s team through instant messaging, everyday video conferences, weekly progress reports etc.
						.text-container
							.text-inner
								.title-head
									h4.h4 Remote team collaboration and workflow
								p The development of the desktop app went in parallel with continuous enhancement of the web application and frequent updates of device firmware, thus intensifying collaboration and adding more challenge to the project. Itransition team had to communicate with several teams distributed across the US and Europe who were responsible for miCoach web portal development, mobile applications, and devices firmware enhancements. Within this workflow, we had to develop and test miCoach desktop application using different versions of firmware, enable data extraction and transfer to web UI.
						.text-container
							.text-inner
								.title-head
									h4.h4 Advanced QA Activities
								p Itransition’s excelled with miCoach desktop app development and demonstrated a mature QA approach, the Client decided to make Itransition the primary partner for QA and testing of adidas miCoach mobile applications on iOS, Android, and Symbian. Itransition was in charge of full cycle QA, including preparation of acceptance testing documentation, integration testing, automated testing scripts launching, usability testing, and manual testing. Our QA team partici- pated in all development stages, from verification of design and specifications to uploading the final release on the App Store and Google Play Market.
						.text-container
							.text-inner
								.title-head
									h4.h4 Technology Stack
								p From the technology perspective, the solution is a .NET-based application with three-tier architecture. The presentation layer was developed using Angular JS framework, as well as JavaScript, HTML and CSS best practices. The Business logic is based on .NET MVC framework and implemented with C#, while the database layer is built using SQL technology.
								p The system supports Mac OS and Windows 7 and higher, and is integrated with Office 365 Subscription System for user accounts’ data synchronization.
						.text-container
							.text-inner
								.title-head
									h4.h4 Subsequent Project
								p Utterly satisfied with Itransition’s excellent .NET knowledge, accurate process organization and teamwork skills, the Customer requested our assistance in the development of a similar solution for another client of theirs.
								p The main objective of the later one was to launch an efficient tool supporting the core salesforce business processes –opportunities management and communication with clients.
								p Relying on the prototype provided by the Customer’s team, Itransition developed an advanced web application enabling sales specialists to employ the potential of a CRM system without leaving an Outlook application. The solution allows end users to save data from emails (customers’ and companies’ names, leads’ status etc.) directly to the CRM, and vice-a-versa, retrieve the relevant information on accounts from the CRM (events, tasks, cases, leads, contacts etc.).
								p Within the project framework, our team performed integration between the provided CRM system and MS OutLook, to ensure data integrity between them. For secure delegated access to the corporate environment, we employed OAuth open standard for user authorization and Single SignOn between OutLook Web Access and the CRM.
								p Our team also integrated the solution with Exchange Web Services allowing end users to receive mails, save attachments and information related to them.
						.text-container
							blockquote.blockquote
								.blockquote-text
									p We have been working to develop a boot with a brain for some time and what we have produced will revolutionize the football industry.
								.user
									.user-pic
										img(src="img/writers/user-1.jpg")
									.user-info
										.user-name Markus Baumann
										.user-position adidas VP of Global Football
						.text-container
							.wrap-tags_share
								.wrap-tags_share-inner
									.tags
										.tags-name Tags:
										.tags-list
											- var tags = ["Portals", "Social Networking", "Mobility", "Manufacturing", "Retail", "C/C++", "Java", ".NET", "Ruby on Rails", "HMTL/CSS", "iOS", "Android", "Oracle"]
											each tagsItem in tags
												a(href="" class="tags-item")
													span #{tagsItem}
			section.section.full-color
				.section-inner
					.l
						.more-container
							h2 Related  
								strong cases
	.footer
		include includes/_footer