html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 100%; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

input[type="submit"], button {
  cursor: pointer; }

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

[data-scrollbar],
[scrollbar],
scrollbar {
  position: relative;
  display: block; }

[data-scrollbar] .scroll-content,
[scrollbar] .scroll-content,
scrollbar .scroll-content {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

[data-scrollbar].sticky .scrollbar-track,
[scrollbar].sticky .scrollbar-track,
scrollbar.sticky .scrollbar-track {
  background: rgba(222, 222, 222, 0.75); }

[data-scrollbar] .scrollbar-track,
[scrollbar] .scrollbar-track,
scrollbar .scrollbar-track {
  position: absolute;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .5s ease-out,background .5s ease-out;
  transition: opacity .5s ease-out,background .5s ease-out;
  opacity: 0;
  background: none; }

[data-scrollbar] .scrollbar-track.show,
[data-scrollbar] .scrollbar-track:hover,
[scrollbar] .scrollbar-track.show,
[scrollbar] .scrollbar-track:hover,
scrollbar .scrollbar-track.show,
scrollbar .scrollbar-track:hover {
  opacity: 1; }

[data-scrollbar] .scrollbar-track:hover,
[scrollbar] .scrollbar-track:hover,
scrollbar .scrollbar-track:hover {
  background: rgba(222, 222, 222, 0.75); }

[data-scrollbar] .scrollbar-track-x,
[scrollbar] .scrollbar-track-x,
scrollbar .scrollbar-track-x {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; }

[data-scrollbar] .scrollbar-track-y,
[scrollbar] .scrollbar-track-y,
scrollbar .scrollbar-track-y {
  top: 0;
  right: 0;
  width: 4px;
  height: 100%; }

[data-scrollbar] .scrollbar-thumb,
[scrollbar] .scrollbar-thumb,
scrollbar .scrollbar-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 8px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5); }

[data-scrollbar] .overscroll-glow,
[scrollbar] .overscroll-glow,
scrollbar .overscroll-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #ac252a; }

img {
  display: block; }

button {
  background-color: transparent;
  outline: none; }

svg {
  width: 100%;
  height: 100%; }

html {
  overflow: hidden;
  font-size: 16px; }

body {
  overflow: hidden;
  background-color: #ac252a;
  font-family: "FiraSansBook"; }
  body.navigation_show .overlay {
    opacity: 1;
    visibility: visible; }
  body.navigation_show .menu {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }

h1, .h1 {
  font-family: "FiraSansBold";
  font-size: 3.75rem; }
  h1 span, .h1 span {
    color: #ac252a; }

h2, .h2 {
  font-family: "FiraSansMedium";
  font-size: 2.625rem; }
  h2 span, .h2 span {
    color: #ac252a; }

.root {
  position: relative;
  width: 100%;
  height: 100%; }

.root__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.22);
  z-index: 15;
  -webkit-transition: opacity 0.3s linear, visibility  0.3s linear;
  transition: opacity 0.3s linear, visibility  0.3s linear;
  opacity: 0;
  visibility: hidden; }

.ui-menu {
  position: absolute;
  z-index: 910;
  right: 20px;
  top: 20px;
  padding: 30px;
  cursor: pointer; }
  .ui-menu:hover .ui-menu-line {
    background-color: #1c1c1c; }
  .ui-menu:hover .ui-menu-line-2 {
    -webkit-transform: translate(-7px, 0);
    -ms-transform: translate(-7px, 0);
    transform: translate(-7px, 0); }
  .ui-menu:hover .ui-menu-line-1 {
    -webkit-transform: translate(7px, 0);
    -ms-transform: translate(7px, 0);
    transform: translate(7px, 0); }

.ui-menu__content {
  width: 31px;
  height: 25px;
  display: block;
  position: relative;
  overflow: hidden; }

.ui-menu-line {
  height: 4px;
  width: 100%;
  background-color: #ac252a;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 1px;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease; }
  .ui-menu-line-2 {
    top: 11px;
    right: -7px; }
  .ui-menu-line-3 {
    top: 21px;
    right: -7px; }

.root_frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.root_frame-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.scroll-content {
  height: 100%; }

.variable-section {
  position: relative;
  top: 0;
  min-height: 100%;
  float: right;
  background-color: #fff;
  right: 0;
  z-index: 5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 0; }
  .variable-section.transition {
    -webkit-transform: translate(10%, 0);
    -ms-transform: translate(10%, 0);
    transform: translate(10%, 0); }

.constant-section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 38.43%;
  z-index: 3; }

.logo {
  position: absolute;
  width: 10rem;
  height: 1.625rem;
  background-image: url("../img/icons/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 3.125rem;
  left: 5.3125rem;
  z-index: 4;
  -webkit-transition: left 0.3s linear;
  transition: left 0.3s linear; }

.loader-container {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease; }

.load-dom .variable-section {
  width: 61.56%; }
  .load-dom .variable-section .loader-container {
    width: 61.56vw; }

.load-dom .inner-page .variable-section {
  width: 80.9%; }
  .load-dom .inner-page .variable-section .loader-container {
    width: 80.9vw; }

.lang {
  position: absolute;
  top: 3.125rem;
  left: 2.125rem;
  height: 1.625rem;
  width: 3.75rem; }
  .lang .lang-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #991217;
    padding: 2px;
    border-radius: 0.8125rem;
    font-size: 0; }
    .lang .lang-inner a {
      font-size: 0.75rem;
      text-transform: uppercase;
      color: #fff;
      display: inline-block;
      padding: 0.25rem 0.375rem 0.25rem; }
      .lang .lang-inner a.active {
        background-color: #fff;
        color: #000;
        border-radius: 10px; }

.account {
  position: absolute;
  top: 3.6875rem;
  left: 34.1%; }
  .account .account-enter span {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.0375rem;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
  .account .account-enter:hover span {
    color: #e3a7aa; }

.navigation-site {
  position: absolute;
  left: 34.1%;
  z-index: 2;
  top: 23.6%;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }
  .navigation-site .navigation-list .navigation-item {
    display: block; }
    .navigation-site .navigation-list .navigation-item a {
      font-family: "FiraSansMedium";
      font-size: 1.5rem;
      color: #fff;
      display: block;
      padding: 1rem 0; }
      .navigation-site .navigation-list .navigation-item a span {
        position: relative; }
        .navigation-site .navigation-list .navigation-item a span::after {
          content: '';
          border-bottom: 2px solid #fff;
          position: absolute;
          right: 0;
          width: 100%;
          bottom: -0.75rem;
          opacity: 0;
          -webkit-transition: bottom 0.3s ease, opacity 0.3s ease;
          transition: bottom 0.3s ease, opacity 0.3s ease; }
      .navigation-site .navigation-list .navigation-item a:hover span::after {
        bottom: -0.375rem;
        opacity: 1; }

.company-based {
  position: absolute;
  bottom: 3.3125rem;
  left: 2.125rem; }
  .company-based .icon {
    display: block;
    width: 3.75rem;
    height: 6rem; }
    .company-based .icon.icon-based {
      background-image: url("../img/icons/icon-since.png");
      background-size: cover;
      background-repeat: no-repeat; }

.address {
  position: absolute;
  bottom: 3rem;
  left: 34.1%;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }
  .address .address-item:not(:last-child) {
    margin-bottom: 0.3125rem; }
  .address .address-item p {
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.0375rem; }
  .address .address-item a {
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.0375rem;
    color: #fff;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    .address .address-item a:hover {
      color: #e3a7aa; }

.inactive .navigation-site, .inactive .address {
  opacity: 0.5; }

.menu {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 915;
  background-color: #fff;
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 50%;
  left: 100%;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear; }

.menu_content {
  position: absolute;
  right: 3.125rem;
  top: 3.125rem;
  bottom: 6.875rem;
  left: 3.125rem; }
  .menu_content .lang {
    top: 0;
    left: 0; }
  .menu_content .account {
    top: 0.5rem;
    left: 23.5%; }
    .menu_content .account .account-enter span {
      color: #1c1c1c; }

.inner-page .logo {
  left: 3.5rem; }

.inner-page .intro-head {
  padding-top: 12rem;
  margin-left: 6.6875rem;
  text-align: right;
  margin-bottom: 3.125rem;
  max-width: 61.25rem;
  text-align: right;
  display: inline-block;
  width: 100%; }
  .inner-page .intro-head h1, .inner-page .intro-head .h1 {
    max-width: 48.75rem;
    text-align: left;
    display: inline-block;
    width: 100%; }

.container-content {
  text-align: right;
  margin-left: 5.0625rem;
  max-width: 61.25rem;
  width: 100%; }

.breadcumbs {
  position: fixed;
  left: 2.5rem;
  top: 54.1%;
  height: 50px;
  width: 50px;
  -webkit-transform: translate(-10rem, 0);
  -ms-transform: translate(-10rem, 0);
  transform: translate(-10rem, 0);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
  .breadcumbs.show {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .breadcumbs .breadcumbs-inner {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
    .breadcumbs .breadcumbs-inner a span {
      font-family: "FiraSansMedium";
      font-size: 2.625rem;
      color: #fff;
      -webkit-transition: color 0.3s ease;
      transition: color 0.3s ease; }
    .breadcumbs .breadcumbs-inner a:hover span {
      color: #e3a7aa; }

.l {
  max-width: 50rem;
  text-align: left;
  display: inline-block;
  width: 100%; }

.section {
  text-align: left; }

.section-scroll {
  height: 100%;
  overflow: hidden; }

.intro-head {
  position: relative; }
  .intro-head.index-page {
    height: 100vh;
    width: 100%;
    max-width: 61.56vw;
    padding-left: 5.3125rem; }
    .intro-head.index-page h1 {
      position: absolute;
      bottom: 10.9375rem; }

.mouse {
  position: absolute;
  bottom: 0;
  left: 5.3125rem;
  height: 43px;
  width: 29px;
  border: 3px solid #ac252a;
  border-radius: 15px;
  bottom: 3.0625rem; }
  .mouse .mousewheel {
    width: 5px;
    height: 11px;
    background-color: #ac252a;
    border-radius: 4px;
    position: absolute;
    top: 5px;
    left: 9px;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: mouse-wheel 1.25s infinite linear;
    animation: mouse-wheel 1.25s infinite linear; }

@-webkit-keyframes mouse-wheel {
  0%, to {
    -webkit-transform: scaleY(0.4) translateY(0);
    transform: scaleY(0.4) translateY(0); }
  20% {
    -webkit-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0); }
  60% {
    -webkit-transform: scaleY(0.4) translateY(12px);
    transform: scaleY(0.4) translateY(12px); } }

@keyframes mouse-wheel {
  0%, to {
    -webkit-transform: scaleY(0.4) translateY(0);
    transform: scaleY(0.4) translateY(0); }
  20% {
    -webkit-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0); }
  60% {
    -webkit-transform: scaleY(0.4) translateY(12px);
    transform: scaleY(0.4) translateY(12px); } }

.contacts-header {
  position: absolute;
  right: 13.875rem;
  top: 3.875rem;
  z-index: 9; }

.contacts-list {
  font-size: 0; }
  .contacts-list .contacts-item {
    display: inline-block;
    vertical-align: top;
    position: relative; }
    .contacts-list .contacts-item:not(:last-child)::after {
      content: ".";
      position: absolute;
      bottom: 0;
      font-size: 12px;
      right: 0; }
    .contacts-list .contacts-item a {
      font-family: "FiraSansBook";
      font-size: 12px;
      color: #1c1c1c;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      padding: 0 17px;
      -webkit-transition: color 0.3s linear;
      transition: color 0.3s linear; }
      .contacts-list .contacts-item a span {
        display: inline-block;
        vertical-align: middle; }
      .contacts-list .contacts-item a .icon {
        margin-right: 8px; }
        .contacts-list .contacts-item a .icon svg {
          fill: #1c1c1c;
          -webkit-transition: fill 0.3s linear;
          transition: fill 0.3s linear; }
      .contacts-list .contacts-item a:hover {
        color: #ac252a; }
        .contacts-list .contacts-item a:hover .icon svg {
          fill: #ac252a; }

.cross-head {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  cursor: pointer; }
  .cross-head:hover .cross-container {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
    .cross-head:hover .cross-container .cross {
      background-color: #ac252a; }

.cross-container {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }

.cross {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #1c1c1c;
  top: 50%;
  margin-top: -2px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  .cross.cross-1 {
    -webkit-transform: rotate(-45deg) scale(1.25);
    -ms-transform: rotate(-45deg) scale(1.25);
    transform: rotate(-45deg) scale(1.25); }
  .cross.cross-2 {
    -webkit-transform: rotate(45deg) scale(1.25);
    -ms-transform: rotate(45deg) scale(1.25);
    transform: rotate(45deg) scale(1.25); }

.icon-skype {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle; }
  .icon-skype svg {
    width: 100%;
    height: 100%; }

.container-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%; }
  .container-svg .svg-icon-number {
    width: 85%;
    position: absolute;
    bottom: 0;
    right: 0; }

.menu-elements {
  position: absolute;
  top: 23%;
  *zoom: 1;
  left: 23.5%;
  right: 3.125rem; }
  .menu-elements:after {
    content: " ";
    display: table;
    clear: both; }
  .menu-elements .menu-elements_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15.4%; }

.menu-primary_item {
  display: block;
  margin-bottom: 1.5rem; }

.menu-primary_item-link {
  font-family: "FiraSansBold";
  color: #1b1b1b;
  font-size: 1.875rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  position: relative; }
  .menu-primary_item-link::after {
    content: "";
    width: 5.375rem;
    height: 2px;
    background-color: #ac252a;
    opacity: 0;
    position: absolute;
    left: -7.3125rem;
    top: -webkit-calc(50% + 1px);
    top: calc(50% + 1px);
    pointer-events: none; }
  .menu-primary_item-link:hover {
    color: #ac252a; }
  .menu-primary_item-link.active {
    color: #ac252a; }
    .menu-primary_item-link.active::after {
      opacity: 1; }

.menu-secondary {
  padding-left: 15.4%; }

.menu-secondary_item {
  display: block;
  margin-bottom: 1.5rem; }

.menu-secondary_item-link {
  font-family: "FiraSansBold";
  color: #1b1b1b;
  font-size: 1.875rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .menu-secondary_item-link:hover {
    color: #ac252a; }
  .menu-secondary_item-link.active {
    color: #ac252a; }

.menu-contacts {
  padding-left: 1px; }
  .menu-contacts .address {
    position: relative;
    bottom: auto;
    left: auto;
    margin-bottom: 2.1875rem; }
    .menu-contacts .address .address-item p, .menu-contacts .address .address-item a {
      color: #000; }
    .menu-contacts .address .address-item a:hover {
      color: #e3a7aa; }
  .menu-contacts .contacts-list {
    margin-left: -1.1875rem; }

.section-scroll-container {
  height: 100%; }

.pages {
  height: 100%; }
  .pages.transfer-pages .loader-container {
    overflow: hidden; }
  .pages.transfer-pages [data-scrollbar] .scrollbar-track {
    opacity: 0; }
  .pages.pages-out .section-scroll-container {
    -webkit-animation: contentOut 0.6s ease forwards;
    animation: contentOut 0.6s ease forwards; }
  .pages.pages-in .section-scroll-container {
    -webkit-animation: contentIn 0.6s ease forwards;
    animation: contentIn 0.6s ease forwards; }
  .pages.pages-in.animate-pages .section-scroll-container {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }

@-webkit-keyframes contentOut {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%); } }

@keyframes contentOut {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%); } }

@-webkit-keyframes contentIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -10%);
    transform: translate(0, -10%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes contentIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -10%);
    transform: translate(0, -10%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

.container {
  width: 100%;
  font-size: 0; }
  .container [class^=column-] {
    display: inline-block;
    vertical-align: top; }
  .container .column-30 {
    width: 33.33%; }
  .container .column-50 {
    width: 50%; }
  .container .column-60 {
    width: 66.66%; }
  .container .column-70 {
    width: 70%; }
  .container .column-100 {
    width: 100%;
    display: block; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.icon-text-wrapp {
  margin-bottom: 20px; }
  .icon-text-wrapp img {
    margin-bottom: 1.875rem;
    height: 3.75rem; }
  .icon-text-wrapp p {
    font-size: 1.25rem;
    line-height: 1.5; }
  .icon-text-wrapp .icon-star {
    width: 3.75rem; }
  .icon-text-wrapp .icon-wave {
    width: 4.0625rem; }
  .icon-text-wrapp .icon-mountain {
    width: 3.875rem; }

.more {
  font-size: 1.25rem;
  color: #ac252a;
  vertical-align: bottom; }
  .more span {
    border-bottom: 1px solid #ac252a;
    padding-bottom: 7px; }
  .more svg {
    fill: #ac252a;
    width: 15px;
    vertical-align: text-top;
    padding-top: 9px;
    margin-left: 15px;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
  .more:hover svg {
    -webkit-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    transform: translate(10px, 0); }

.clear-height {
  height: 3.75rem;
  width: 0.0625rem;
  margin-bottom: 1.875rem;
  display: block; }

.block-padding {
  padding: 100px 0; }

.page-link {
  font-size: 1.5rem;
  height: 15.625rem;
  position: relative; }
  .page-link .svg-full-wrapp {
    position: absolute;
    width: 100%;
    height: 100%; }

.content-wrapp {
  padding: 0 15px;
  font-size: 2rem; }
  .content-wrapp img {
    width: 100%; }
  .content-wrapp .date {
    font-family: "FiraSansBook";
    font-size: 1.2rem; }
  .content-wrapp .desc {
    font-family: "FiraSansMedium"; }

.border-top:before {
  content: ' ';
  width: 8.75rem;
  height: 2px;
  background-color: #ac252a;
  position: absolute; }

.slider-img {
  padding-bottom: 40px;
  margin: 0 -15px; }
  .slider-img .slick-arrow {
    display: none !important; }
  .slider-img .border-top {
    padding-top: 40px; }
  .slider-img .date {
    padding-top: 40px; }
  .slider-img .desc {
    padding-top: 20px; }

.btn-slider .btn-wrapp {
  width: 45px;
  display: inline-block;
  margin-top: 65px; }
  .btn-slider .btn-wrapp:first-child {
    margin-right: 15px; }
  .btn-slider .btn-wrapp:last-child {
    margin-left: 15px; }
  .btn-slider .btn-wrapp svg {
    cursor: pointer; }
    .btn-slider .btn-wrapp svg path {
      stroke: #ac252a; }
  .btn-slider .btn-wrapp .disable path {
    stroke: #e7c0c1; }

.next-page {
  padding: 50px 0 95px; }
  .next-page span {
    font-size: 0.75rem;
    font-family: "FiraSansBook";
    text-transform: uppercase;
    position: relative;
    z-index: 5;
    color: #000; }
  .next-page h2 {
    position: relative;
    font-size: 3.75rem;
    z-index: 5;
    color: #000; }
  .next-page h2:before {
    content: '';
    width: 30%;
    height: 2px;
    background-color: #ac252a;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -40%;
    z-index: 5; }

.bg-gray {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #f8f8f8;
  left: 0;
  z-index: 1;
  max-height: 220px; }
  .bg-gray a {
    width: 100%;
    height: 100%;
    display: block; }

.bg-gray + .l {
  position: relative;
  z-index: 2; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  * {
    -webkit-text-size-adjust: none; } }
