html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

input[type="submit"], button {
  cursor: pointer; }

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: "Book";
  src: url("../fonts/FuturaNewBook.eot");
  src: url("../fonts/FuturaNewBook.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBook.woff") format("woff"), url("../fonts/FuturaNewBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "BoolOblique";
  src: url("../fonts/FuturaNewBookOblique.eot");
  src: url("../fonts/FuturaNewBookOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBookOblique.woff") format("woff"), url("../fonts/FuturaNewBookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bold";
  src: url("../fonts/FuturaNewBold.eot");
  src: url("../fonts/FuturaNewBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBold.woff") format("woff"), url("../fonts/FuturaNewBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "BoldOblique";
  src: url("../fonts/FuturaNewCondBoldOblique.eot");
  src: url("../fonts/FuturaNewCondBoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewCondBoldOblique.woff") format("woff"), url("../fonts/FuturaNewCondBoldOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Medium";
  src: url("../fonts/FuturaNewMedium.eot");
  src: url("../fonts/FuturaNewMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewMedium.woff") format("woff"), url("../fonts/FuturaNewMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CondMedium";
  src: url("../fonts/FuturaNewCondMedium.eot");
  src: url("../fonts/FuturaNewCondMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewCondMedium.woff") format("woff"), url("../fonts/FuturaNewCondMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Demi";
  src: url("../fonts/FuturaNewDemi.eot");
  src: url("../fonts/FuturaNewDemi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewDemi.woff") format("woff"), url("../fonts/FuturaNewDemi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Heavy";
  src: url("../fonts/FuturaNewHeavy.eot");
  src: url("../fonts/FuturaNewHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewHeavy.woff") format("woff"), url("../fonts/FuturaNewHeavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Light";
  src: url("../fonts/FuturaNewLight.eot");
  src: url("../fonts/FuturaNewLight.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewLight.woff") format("woff"), url("../fonts/FuturaNewLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #000; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  * {
    -webkit-text-size-adjust: none; } }
