html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 100%; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

input[type="submit"], button {
  cursor: pointer; }

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

[data-scrollbar],
[scrollbar],
scrollbar {
  position: relative;
  display: block; }

[data-scrollbar] .scroll-content,
[scrollbar] .scroll-content,
scrollbar .scroll-content {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

[data-scrollbar].sticky .scrollbar-track,
[scrollbar].sticky .scrollbar-track,
scrollbar.sticky .scrollbar-track {
  background: rgba(222, 222, 222, 0.75); }

[data-scrollbar] .scrollbar-track,
[scrollbar] .scrollbar-track,
scrollbar .scrollbar-track {
  position: absolute;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .5s ease-out,background .5s ease-out;
  transition: opacity .5s ease-out,background .5s ease-out;
  opacity: 0;
  background: none; }

[data-scrollbar] .scrollbar-track.show,
[data-scrollbar] .scrollbar-track:hover,
[scrollbar] .scrollbar-track.show,
[scrollbar] .scrollbar-track:hover,
scrollbar .scrollbar-track.show,
scrollbar .scrollbar-track:hover {
  opacity: 1; }

[data-scrollbar] .scrollbar-track:hover,
[scrollbar] .scrollbar-track:hover,
scrollbar .scrollbar-track:hover {
  background: rgba(222, 222, 222, 0.75); }

[data-scrollbar] .scrollbar-track-x,
[scrollbar] .scrollbar-track-x,
scrollbar .scrollbar-track-x {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; }

[data-scrollbar] .scrollbar-track-y,
[scrollbar] .scrollbar-track-y,
scrollbar .scrollbar-track-y {
  top: 0;
  right: 0;
  width: 4px;
  height: 100%; }

[data-scrollbar] .scrollbar-thumb,
[scrollbar] .scrollbar-thumb,
scrollbar .scrollbar-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 8px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5); }

[data-scrollbar] .overscroll-glow,
[scrollbar] .overscroll-glow,
scrollbar .overscroll-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #ac252a; }

img {
  display: block; }

button {
  background-color: transparent;
  outline: none; }

svg {
  width: 100%;
  height: 100%; }

html {
  overflow: hidden;
  font-size: 16px; }

body {
  overflow: hidden;
  background-color: #ac252a;
  font-family: "FiraSansBook"; }
  body.navigation_show .overlay {
    opacity: 1;
    visibility: visible; }
  body.navigation_show .menu {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
  body.modals_show .overlay {
    opacity: 1;
    visibility: visible; }

h1, .h1 {
  font-family: "FiraSansBold";
  font-size: 3.75rem; }
  h1 span, .h1 span {
    color: #ac252a; }

h2, .h2 {
  font-family: "FiraSansMedium";
  font-size: 2.625rem; }
  h2 span, .h2 span {
    color: #ac252a; }

.root {
  position: relative;
  width: 100%;
  height: 100%; }

.root__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.22);
  z-index: 15;
  -webkit-transition: opacity 0.3s linear, visibility  0.3s linear;
  transition: opacity 0.3s linear, visibility  0.3s linear;
  opacity: 0;
  visibility: hidden; }

.ui-menu {
  position: absolute;
  z-index: 910;
  right: 20px;
  top: 20px;
  padding: 30px;
  cursor: pointer; }
  .ui-menu:hover .ui-menu-line {
    background-color: #1c1c1c; }
  .ui-menu:hover .ui-menu-line-2 {
    -webkit-transform: translate(-7px, 0);
    -ms-transform: translate(-7px, 0);
    transform: translate(-7px, 0); }
  .ui-menu:hover .ui-menu-line-1 {
    -webkit-transform: translate(7px, 0);
    -ms-transform: translate(7px, 0);
    transform: translate(7px, 0); }

.ui-menu__content {
  width: 31px;
  height: 25px;
  display: block;
  position: relative;
  overflow: hidden; }

.ui-menu-line {
  height: 4px;
  width: 100%;
  background-color: #ac252a;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 1px;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease; }
  .ui-menu-line-2 {
    top: 11px;
    right: -7px; }
  .ui-menu-line-3 {
    top: 21px;
    right: -7px; }

.root_frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.root_frame-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.scroll-content {
  height: 100%; }

.variable-section {
  position: relative;
  top: 0;
  min-height: 100%;
  float: right;
  background-color: #fff;
  right: 0;
  z-index: 5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 0; }
  .variable-section.transition {
    -webkit-transform: translate(10%, 0);
    -ms-transform: translate(10%, 0);
    transform: translate(10%, 0); }

.constant-section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 38.43%;
  z-index: 3; }

.logo {
  position: absolute;
  width: 10rem;
  height: 1.625rem;
  background-image: url("../img/icons/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 3.125rem;
  left: 5.3125rem;
  z-index: 4;
  -webkit-transition: left 0.3s linear;
  transition: left 0.3s linear; }

.loader-container {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease; }

.load-dom .variable-section {
  width: 61.95%; }
  .load-dom .variable-section .loader-container {
    width: 61.95vw; }

.load-dom .inner-page .variable-section {
  width: 80.9%; }
  .load-dom .inner-page .variable-section .loader-container {
    width: 80.9vw; }

.lang {
  position: absolute;
  top: 3.125rem;
  left: 2.125rem;
  height: 26px;
  width: 60px; }
  .lang .lang-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #991217;
    padding: 2px;
    border-radius: 13px;
    font-size: 0; }
    .lang .lang-inner a {
      font-size: 12px;
      text-transform: uppercase;
      color: #fff;
      display: inline-block;
      padding: 4px 6px 4px; }
      .lang .lang-inner a.active {
        background-color: #fff;
        color: #000;
        border-radius: 10px; }

.account {
  position: absolute;
  top: 3.6875rem;
  left: 33.7%; }
  .account .account-enter span {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.6px;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
  .account .account-enter:hover span {
    color: #e3a7aa; }

.navigation-site {
  position: absolute;
  left: 33.7%;
  z-index: 2;
  top: 23.6%;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }
  .navigation-site .navigation-list .navigation-item {
    display: block; }
    .navigation-site .navigation-list .navigation-item a {
      font-family: "FiraSansMedium";
      font-size: 1.5rem;
      color: #fff;
      display: block;
      padding: 1rem 0; }
      .navigation-site .navigation-list .navigation-item a span {
        position: relative; }
        .navigation-site .navigation-list .navigation-item a span::after {
          content: '';
          border-bottom: 2px solid #fff;
          position: absolute;
          right: 0;
          width: 100%;
          bottom: -0.75rem;
          opacity: 0;
          -webkit-transition: bottom 0.3s ease, opacity 0.3s ease;
          transition: bottom 0.3s ease, opacity 0.3s ease; }
      .navigation-site .navigation-list .navigation-item a:hover span::after {
        bottom: -0.375rem;
        opacity: 1; }

.company-based {
  position: absolute;
  bottom: 3.125rem;
  left: 2.125rem; }
  .company-based .icon {
    display: block;
    width: 3.75rem;
    height: 6rem; }
    .company-based .icon.icon-based {
      background-image: url("../img/icons/icon-since.png");
      background-size: cover;
      background-repeat: no-repeat; }

.address {
  position: absolute;
  bottom: 2.875rem;
  left: 33.7%;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }
  .address .address-item:not(:last-child) {
    margin-bottom: 0.3125rem; }
  .address .address-item p {
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.0375rem; }
  .address .address-item a {
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.0375rem;
    color: #fff;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    .address .address-item a:hover {
      color: #e3a7aa; }

.inactive .navigation-site, .inactive .address {
  opacity: 0.5; }

.menu {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 915;
  background-color: #fff;
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 50.5%;
  left: 100%;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  overflow: auto; }

.menu_content {
  position: relative;
  padding: 4.75rem 0 6.875rem 0;
  text-align: center;
  font-size: 0;
  height: 100%;
  text-align: left; }
  .menu_content:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }
  .menu_content .lang {
    top: 3.125rem;
    left: 3.125rem; }
  .menu_content .account {
    top: 3.9375rem;
    left: 26.2%; }
    .menu_content .account .account-enter span {
      color: #1c1c1c; }

.breadcumbs {
  position: absolute;
  left: 2.5rem;
  top: 54.1%;
  height: 50px;
  width: 50px;
  -webkit-transform: translate(-10rem, 0);
  -ms-transform: translate(-10rem, 0);
  transform: translate(-10rem, 0);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
  .breadcumbs.show {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .breadcumbs .breadcumbs-inner {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
    .breadcumbs .breadcumbs-inner a span {
      font-family: "FiraSansMedium";
      font-size: 2.625rem;
      color: #fff;
      -webkit-transition: color 0.3s ease;
      transition: color 0.3s ease; }
    .breadcumbs .breadcumbs-inner a:hover span {
      color: #e3a7aa; }

.l {
  text-align: left;
  display: inline-block;
  width: 100%; }

.section {
  text-align: left;
  padding-left: 82px;
  margin-right: 10%; }

.section-scroll {
  min-height: 100vh;
  overflow: hidden; }

.intro-head {
  position: relative; }
  .intro-head.index-page {
    height: 100vh;
    width: 100%;
    max-width: 61.56vw;
    padding-left: 5.3125rem; }
    .intro-head.index-page h1 {
      position: absolute;
      bottom: 10.9375rem; }

.mouse {
  position: absolute;
  bottom: 0;
  left: 5.3125rem;
  height: 43px;
  width: 29px;
  border: 3px solid #ac252a;
  border-radius: 15px;
  bottom: 3.0625rem; }
  .mouse .mousewheel {
    width: 5px;
    height: 11px;
    background-color: #ac252a;
    border-radius: 4px;
    position: absolute;
    top: 5px;
    left: 9px;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: mouse-wheel 1.25s infinite linear;
    animation: mouse-wheel 1.25s infinite linear; }

@-webkit-keyframes mouse-wheel {
  0%, to {
    -webkit-transform: scaleY(0.4) translateY(0);
    transform: scaleY(0.4) translateY(0); }
  20% {
    -webkit-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0); }
  60% {
    -webkit-transform: scaleY(0.4) translateY(12px);
    transform: scaleY(0.4) translateY(12px); } }

@keyframes mouse-wheel {
  0%, to {
    -webkit-transform: scaleY(0.4) translateY(0);
    transform: scaleY(0.4) translateY(0); }
  20% {
    -webkit-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0); }
  60% {
    -webkit-transform: scaleY(0.4) translateY(12px);
    transform: scaleY(0.4) translateY(12px); } }

.contacts-header {
  position: absolute;
  right: 14.9375rem;
  top: 3.875rem;
  z-index: 9; }

.contacts-list {
  font-size: 0; }
  .contacts-list .contacts-item {
    display: inline-block;
    vertical-align: top;
    position: relative; }
    .contacts-list .contacts-item:not(:last-child)::after {
      content: ".";
      position: absolute;
      bottom: 0;
      font-size: 12px;
      right: 0; }
    .contacts-list .contacts-item a {
      font-family: "FiraSansBook";
      font-size: 12px;
      color: #1c1c1c;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      padding: 0 17px;
      -webkit-transition: color 0.3s linear;
      transition: color 0.3s linear; }
      .contacts-list .contacts-item a span {
        display: inline-block;
        vertical-align: middle; }
      .contacts-list .contacts-item a .icon {
        margin-right: 8px; }
        .contacts-list .contacts-item a .icon svg {
          fill: #1c1c1c;
          -webkit-transition: fill 0.3s linear;
          transition: fill 0.3s linear; }
      .contacts-list .contacts-item a:hover {
        color: #ac252a; }
        .contacts-list .contacts-item a:hover .icon svg {
          fill: #ac252a; }

.cross-head {
  position: absolute;
  top: 3.125rem;
  right: 4.1875rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 5; }
  .cross-head:hover .cross-container .cross {
    background-color: #ac252a; }

.cross-container {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }

.cross {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #1c1c1c;
  top: 50%;
  margin-top: -2px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  .cross.cross-1 {
    -webkit-transform: rotate(-45deg) scale(1.25);
    -ms-transform: rotate(-45deg) scale(1.25);
    transform: rotate(-45deg) scale(1.25); }
  .cross.cross-2 {
    -webkit-transform: rotate(45deg) scale(1.25);
    -ms-transform: rotate(45deg) scale(1.25);
    transform: rotate(45deg) scale(1.25); }

.icon-skype {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle; }
  .icon-skype svg {
    width: 100%;
    height: 100%; }

.container-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%; }
  .container-svg .svg-icon-number {
    width: 88%;
    position: absolute;
    bottom: -1.1875rem;
    right: -2.5625rem; }

.menu-elements {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  left: 26.1%;
  right: 21.8%;
  max-width: 100%;
  *zoom: 1; }
  .menu-elements:after {
    content: " ";
    display: table;
    clear: both; }
  .menu-elements .menu-elements_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 11%;
    margin-top: 4.6875rem;
    *zoom: 1; }
    .menu-elements .menu-elements_container:after {
      content: " ";
      display: table;
      clear: both; }

.menu-primary_item {
  display: block;
  margin-bottom: 1.5rem; }

.menu-primary_item-link {
  font-family: "FiraSansBold";
  color: #1b1b1b;
  font-size: 1.875rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  position: relative; }
  .menu-primary_item-link::after {
    content: "";
    width: 5.375rem;
    height: 2px;
    background-color: #ac252a;
    opacity: 0;
    position: absolute;
    left: -7.3125rem;
    top: -webkit-calc(50% + 1px);
    top: calc(50% + 1px);
    pointer-events: none; }
  .menu-primary_item-link:hover {
    color: #ac252a; }
  .menu-primary_item-link.active {
    color: #ac252a; }
    .menu-primary_item-link.active::after {
      opacity: 1; }

.menu-secondary {
  margin-left: 18%; }

.menu-secondary_item {
  display: block;
  margin-bottom: 1.5rem; }
  .menu-secondary_item span {
    display: block; }

.menu-secondary_item-link {
  font-family: "FiraSansBold";
  color: #1b1b1b;
  font-size: 1.875rem;
  display: block;
  width: 100%;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .menu-secondary_item-link:hover {
    color: #ac252a; }
  .menu-secondary_item-link.active {
    color: #ac252a; }

.menu-contacts {
  padding-left: 2px;
  position: relative;
  clear: both;
  padding: 2.3125rem 0; }
  .menu-contacts .address {
    position: relative;
    bottom: auto;
    left: auto;
    margin-bottom: 2.1875rem; }
    .menu-contacts .address .address-item p, .menu-contacts .address .address-item a {
      color: #000; }
    .menu-contacts .address .address-item a:hover {
      color: #e3a7aa; }
  .menu-contacts .contacts-list {
    margin-left: -1.1875rem; }

.section-scroll-container {
  height: 100%; }

.pages {
  height: 100%; }
  .pages.transfer-pages .loader-container {
    overflow: hidden; }
  .pages.transfer-pages [data-scrollbar] .scrollbar-track {
    opacity: 0; }
  .pages.pages-out .section-scroll-container {
    -webkit-animation: contentOut 0.6s ease forwards;
    animation: contentOut 0.6s ease forwards; }
  .pages.pages-in .section-scroll-container {
    -webkit-animation: contentIn 0.6s ease forwards;
    animation: contentIn 0.6s ease forwards; }
  .pages.pages-in.animate-pages .section-scroll-container {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }

@-webkit-keyframes contentOut {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%); } }

@keyframes contentOut {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%); } }

@-webkit-keyframes contentIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -10%);
    transform: translate(0, -10%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes contentIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -10%);
    transform: translate(0, -10%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

.container {
  width: 100%;
  font-size: 0; }
  .container [class^=column-] {
    display: inline-block;
    vertical-align: top; }
  .container .column-30 {
    width: 33.33%; }
  .container .column-50 {
    width: 50%; }
  .container .column-60 {
    width: 66.66%; }
  .container .column-70 {
    width: 70%; }
  .container .column-100 {
    width: 100%;
    display: block; }

.block-1 {
  padding-top: 60px; }
  .block-1 .column-60 {
    padding-left: 2.9375rem; }

.block-2 {
  margin-right: 2%;
  padding-left: 1.3125rem; }
  .block-2 h2 {
    padding-bottom: 48px; }

.block-3 .column-60 {
  padding: 10px 85px 0 48px; }

.block-4 {
  padding-left: 6.3125rem;
  margin-right: 0; }

.block-5 {
  padding-left: 19.7%;
  padding-right: 9%; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.icon-text-wrapp {
  margin-bottom: 20px;
  padding-right: 20px; }
  .icon-text-wrapp img {
    margin-bottom: 1.5rem; }
  .icon-text-wrapp p {
    font-size: 1.25rem;
    line-height: 1.55; }
  .icon-text-wrapp .icon-star {
    width: 3.75rem; }
  .icon-text-wrapp .icon-wave {
    width: 4.0625rem;
    margin-bottom: 2.5625rem; }
  .icon-text-wrapp .icon-mountain {
    width: 3.875rem; }

.more {
  font-size: 1.125rem;
  vertical-align: bottom; }
  .more span {
    border-bottom: 1px solid #ac252a;
    padding-bottom: 7px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #ac252a; }
  .more svg {
    fill: #ac252a;
    width: 15px;
    vertical-align: text-top;
    padding-top: 9px;
    margin-left: 15px;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
  .more:hover span {
    border-bottom: transparent;
    color: #000; }
  .more:hover svg {
    -webkit-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    transform: translate(10px, 0);
    fill: #000; }

.clear-height {
  width: 0.0625rem;
  margin-bottom: 4.5625rem;
  display: block; }

.block-padding {
  padding-left: 0;
  padding-right: 0;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem; }

.page-link {
  display: block;
  font-size: 1.5rem;
  height: 15.625rem;
  position: relative; }
  .page-link .text-link {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "FiraSansMedium";
    padding-top: 11px;
    color: #000;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }
  .page-link .svg-full-wrapp {
    position: absolute;
    width: 50%;
    height: 50%;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
  .page-link:hover .svg-full-wrapp {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .page-link:hover .text-link {
    color: #ac252a; }

.slider-content-wrapp {
  padding: 0 15px;
  font-size: 2rem; }
  .slider-content-wrapp img {
    width: 100%;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out; }
  .slider-content-wrapp .date {
    font-family: "FiraSansBook";
    font-size: 0.75rem;
    color: #000; }
  .slider-content-wrapp .desc {
    font-family: "FiraSansMedium";
    font-size: 1.25rem;
    color: #000;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }
  .slider-content-wrapp .border-top:before {
    content: ' ';
    width: 8.75rem;
    height: 2px;
    background-color: #ac252a;
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
  .slider-content-wrapp:hover img {
    opacity: 0.5; }
  .slider-content-wrapp:hover .desc {
    color: #ac252a; }
  .slider-content-wrapp:hover .border-top:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px); }

.slider-img {
  padding-bottom: 40px;
  margin: 0 -15px; }
  .slider-img .slick-arrow {
    display: none !important; }
  .slider-img .border-top {
    padding-top: 43px; }
  .slider-img .date {
    padding-top: 30px; }
  .slider-img .desc {
    padding-top: 14px; }

.btn-slider .btn-wrapp {
  width: 45px;
  display: inline-block;
  margin-top: 59px; }
  .btn-slider .btn-wrapp:first-child {
    margin-right: 15px; }
  .btn-slider .btn-wrapp:last-child {
    margin-left: 19px; }
  .btn-slider .btn-wrapp svg {
    cursor: pointer; }
    .btn-slider .btn-wrapp svg path {
      -webkit-transition: stroke 0.3s ease-out;
      transition: stroke 0.3s ease-out;
      stroke: #ac252a; }
  .btn-slider .btn-wrapp .disable path {
    stroke: #e7c0c1 !important; }
  .btn-slider .btn-wrapp:hover svg path {
    stroke: #000; }

.next-page {
  padding-top: 3.125rem;
  padding-right: 0;
  padding-bottom: 5.25rem;
  padding-left: 0; }
  .next-page span {
    font-size: 0.75rem;
    font-family: "FiraSansBook";
    text-transform: uppercase;
    position: relative;
    z-index: 5;
    color: #000; }
  .next-page h2 {
    position: relative;
    font-size: 3.75rem;
    z-index: 5;
    color: #000;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }
  .next-page h2:before {
    content: '';
    width: 24%;
    height: 2px;
    background-color: #ac252a;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -34%;
    z-index: 5; }

.next-page-hover:hover {
  display: block; }
  .next-page-hover:hover h2 {
    color: #ac252a; }

.bg-gray {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #f8f8f8;
  left: 0;
  z-index: 1;
  max-height: 220px; }
  .bg-gray a {
    width: 100%;
    height: 100%;
    display: block; }

.bg-gray + .l {
  position: relative;
  z-index: 2; }

.bg-gray:hover + .next-page-hover h2 {
  color: #ac252a; }

.list-link {
  font-size: 1.25rem; }
  .list-link li {
    margin: 10px 0 21px; }
    .list-link li a {
      color: #000;
      padding: 5px 0;
      font-family: "FiraSansMedium";
      -webkit-transition: color 0.3s ease-out;
      transition: color 0.3s ease-out; }
      .list-link li a:hover {
        color: #ac252a; }

.list-link_no-bold li {
  margin: 11px 0; }
  .list-link_no-bold li a {
    font-family: "FiraSansBook";
    font-size: 1rem; }

.list-link_no-bold li:first-child a {
  font-family: "FiraSansMedium";
  font-size: 1.25rem; }

.contacts {
  font-size: 1.25rem;
  padding-top: 5.8125rem;
  max-width: 250px; }
  .contacts .adress {
    font-size: 1.25rem;
    font-family: "FiraSansMedium";
    position: relative;
    margin-bottom: 20px;
    line-height: 1.7; }
    .contacts .adress svg {
      width: 24px;
      height: 30px;
      position: absolute;
      left: -47px;
      top: 0;
      fill: #ac252a; }
  .contacts .tel {
    font-size: 1.25rem;
    font-family: "FiraSansMedium";
    position: relative;
    margin-bottom: 26px; }
    .contacts .tel svg {
      width: 22px;
      height: 25px;
      position: absolute;
      left: -47px;
      top: 0;
      fill: #ac252a; }
  .contacts .dop_info {
    text-transform: uppercase;
    font-size: 12px; }
    .contacts .dop_info span {
      padding-left: 10px;
      margin-left: 10px;
      border-left: 1px solid #000; }
      .contacts .dop_info span svg {
        width: 14px;
        height: 15px;
        position: relative;
        top: 3px; }
  .contacts a {
    color: #000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }

.footer .block-padding {
  padding-left: 0;
  padding-right: 0;
  padding-top: 6.25rem;
  padding-bottom: 5rem; }

.footer .column-100 {
  position: relative; }

.footer p {
  text-transform: uppercase;
  font-size: 12px; }
  .footer p a {
    color: #000;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }
    .footer p a:hover {
      color: #ac252a; }
  .footer p span {
    padding: 0 17px; }

.footer .left {
  position: absolute;
  left: 0; }

.groups-modals {
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 100%;
  height: 100%;
  top: 0; }
  .groups-modals.show-modal {
    left: 0; }
  .groups-modals .groups-modal-scroll {
    height: 100%; }
  .groups-modals .groups-modal-content {
    width: 50%;
    min-height: 100%;
    background-color: #fff;
    left: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
    -webkit-transform-style: flat;
    transform-style: flat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .groups-modals .row-request {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 6.5625rem;
    border-top: 1px solid #bcbcbc;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
  .groups-modals .content-container {
    min-height: 100vh;
    padding-bottom: 6.5625rem;
    padding-top: 4.6875rem;
    padding-left: 5rem;
    padding-right: 13%; }
    .groups-modals .content-container .content-scrolls {
      height: 200vh; }
  .groups-modals.open .row-request,
  .groups-modals.open .groups-modal-content {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
  .groups-modals.show-modal .groups-modals {
    left: 0; }
  .groups-modals .request-container {
    *zoom: 1;
    padding: 1.1875rem 2.1875rem; }
    .groups-modals .request-container:after {
      content: " ";
      display: table;
      clear: both; }
    .groups-modals .request-container .btn {
      float: right; }

.btn {
  background-color: #ac252a;
  padding: 1.3125rem 0.625rem;
  min-width: 12.5625rem;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  .btn:hover {
    background-color: #941d21; }
  .btn span {
    font-family: "FiraSansBook";
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.625rem;
    letter-spacing: 0.075rem; }
  .btn .icon {
    display: inline-block;
    vertical-align: middle; }
    .btn .icon.icon-arrow {
      width: 1rem;
      height: 0.75rem;
      position: relative; }
      .btn .icon.icon-arrow svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }

.request-access {
  display: inline-block;
  padding: 1.3125rem 0.875rem; }
  .request-access .icon {
    display: inline-block;
    vertical-align: middle;
    width: 1.375rem;
    height: 1.1875rem;
    margin-right: 0.5625rem; }
    .request-access .icon svg {
      fill: #ac252a;
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease; }
  .request-access span {
    font-family: "FiraSansRegular";
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0.05rem;
    border-bottom: 1px solid;
    padding-top: 2px;
    padding-bottom: 5px;
    -webkit-transition: color 0.3s ease, border-color 0.3s ease;
    transition: color 0.3s ease, border-color 0.3s ease; }
  .request-access:hover .icon svg {
    fill: #000; }
  .request-access:hover span {
    color: #000;
    border-color: transparent; }

.inner-page .logo {
  left: 3.5rem; }

.inner-page .intro-head {
  padding-top: 12rem;
  padding-left: 15.3%;
  margin-right: 13%;
  margin-left: 6.75rem;
  margin-bottom: 2.3125rem; }
  .inner-page .intro-head h1, .inner-page .intro-head .h1 {
    display: inline-block;
    width: 100%; }

.inner-page .container-content {
  margin-left: 0;
  text-align: left;
  max-width: 100%; }

.inner-page .section {
  padding-left: 6.75rem;
  margin-right: 16%;
  margin-bottom: 4.375rem; }

.inner-page .l {
  margin-left: 20.5%;
  max-width: 100%;
  width: auto;
  display: inherit; }

.inner-page p {
  font-size: 1.25rem;
  line-height: 1.6; }
  .inner-page p.lead {
    font-family: "FiraSansMedium"; }

.section-anchors {
  padding-left: 6.75rem;
  margin-bottom: 2.5625rem;
  margin-right: 16%; }

.anchor-container {
  margin-left: 20.5%; }
  .anchor-container ul {
    margin: 0 -0.8125rem; }
  .anchor-container .achors-item {
    display: inline-block; }
    .anchor-container .achors-item .anchor-trigger {
      font-family: "FiraSansMedium";
      font-size: 1.25rem;
      padding: 13px;
      display: inline-block;
      -webkit-transition: color 0.3s ease;
      transition: color 0.3s ease; }
      .anchor-container .achors-item .anchor-trigger:hover {
        color: #000; }

.container-image .image-element {
  max-width: 21.125rem;
  float: left;
  margin-right: 6.4%; }
  .container-image .image-element img {
    max-width: 100%; }

.container-image .text-elements {
  overflow: hidden;
  padding-top: 2.0625rem; }
  .container-image .text-elements h2, .container-image .text-elements .h2 {
    max-width: 83%;
    margin-bottom: 2.375rem;
    font-family: "FiraSansRegular";
    line-height: 1; }

.groups-container-elements {
  padding-top: 0.9375rem;
  width: 100%; }
  .groups-container-elements .groups-container_item:not(:last-child) {
    margin-bottom: 6.25rem; }
  .groups-container-elements .groups-head {
    margin-bottom: 2.1875rem; }
  .groups-container-elements .groups-body {
    font-size: 0; }
    .groups-container-elements .groups-body .elemets-container {
      width: 48%;
      display: inline-block;
      vertical-align: top;
      padding-right: 4.375rem; }

.elemets-container {
  width: 100%; }
  .elemets-container .elements-field {
    display: inline-block;
    vertical-align: top;
    width: 100%; }
    .elemets-container .elements-field .element-trigger {
      border-bottom: 1px solid #d0d0d0;
      padding-left: 0.9375rem;
      padding-right: 1.5625rem;
      padding-top: 1.125rem;
      padding-bottom: 1.25rem;
      cursor: pointer;
      position: relative; }
      .elemets-container .elements-field .element-trigger::after {
        content: "";
        width: 0.9375rem;
        height: 0.9375rem;
        position: absolute;
        border-right: 2px solid #d0d0d0;
        border-bottom: 2px solid #d0d0d0;
        -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
        transform: rotate(-45deg) translate(0, -50%);
        right: 8px;
        top: 50%;
        -webkit-transition: border-color 0.3s ease;
        transition: border-color 0.3s ease; }
      .elemets-container .elements-field .element-trigger .element-name {
        font-family: "FiraSansRegular";
        font-size: 1.25rem;
        color: #1c1c1c;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease; }
      .elemets-container .elements-field .element-trigger:hover::after {
        border-color: #ac252a; }
      .elemets-container .elements-field .element-trigger:hover .element-name {
        color: #ac252a; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  * {
    -webkit-text-size-adjust: none; } }
      @media only screen and (max-width: 1400px) {

  .container-image .text-elements h2, .container-image .text-elements .h2 {
    max-width: 90%; } }
      @media only screen and (max-width: 1279px) {

  html {
    font-size: 12px; } }
